# Eclipse
#.classpath
#.project
.settings/

#Momentix/BB
arm-p/
arm/
x86/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Generated node modules, and our locally installed node and npm
node_modules/
npm/
node



