@CHARSET "UTF-8";

#setup-inputs label {
    display: inline-block;
    width: 150px;
    padding: 1em 0;
}
#setup-inputs input {
    width: 500px;
}
#setup-sub-header {
	margin-bottom: 1em;
}
#setup-button {
	margin-top: 1em;
}
#status-report {
	padding: 1em 2em;
}
#error {
	color: red;
}