# Eclipse
#.classpath
#.project
.settings/

#Momentix/BB
arm-p/
arm/
x86/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Generated node modules, and our locally installed node and npm
node_modules/
npm/
node



otsync/otag-gateway/src/main/resources/tomcat/lib/otag-tomcat-listener-2.0-SNAPSHOT.jar
