/* 
	DocBook V4.3-Based Variant DbXixos V1.0 
	XSL transformation for Online Help output. 
	Created 2005 by itl AG & cap studio 

	This CSS file is part of the 
	OpenText authoring environment. 
	Only authorized users may use or modify this file. 
	Distribution is limited to other OpenText users.


	Description
	===========
	
	This file contains CSS definitions for the additional 
	WebHelp HTML files in the 'dynamic' folder: 
	Banner, TOC, Index, FTS.
	

	Version
	=======
	
	2005-05-26 mmh: v0.6
	2005-06-09 ekbert: changed TOC layout
	2011-11-21 ekbert: update for search results

*/

/* General */
body {font-family: Tahoma, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #000000;}

/* Banner */
.banner {
	background-image: url(../static/images/pattern.gif); 
	margin: 0 0 0 6px;
}
.sM	{margin-top: 3px;} 
td.mHiL	{background-repeat: repeat-y; background-position: 50% 50%; background-image: url(nav/vert_w.gif); text-align: center;}
td.mHi	{text-align: center; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 0.75em; color: #fff; text-decoration: none;}
td.mHi a:link	{color: #fff; background-color: transparent; text-decoration: none;}
td.mHi a:visited{color: #fff; background-color: transparent; text-decoration: none;}
td.mHi a:hover	{color: #fff; background-color: transparent; text-decoration: none;}
td.mHi a:active	{color: #fff; background-color: transparent; text-decoration: none;}

.currentView {
 font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
 font-style: normal;
 font-size: 10px;
 color: #4973aa;
}

.banner .small {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 10px;
}
.clr11fon {
	background-color:#7C7C7C;
}

.clr11box {
	background-color:#4C4C4C;
}

.MastheadTable  {
	width : 100%;
	background-color : #039;
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.MastheadTitle  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : white;
}

.MastheadTitle1  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : white;
}

.MastheadTitle2  {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	color : white;
}



/* Navtop */
.navtop {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	color: #000; 
	background-color: #fff;
	background: url(../static/images/synch-toc-top2.gif); 
	background-repeat: repeat-x; 
}

.navtop div {
	margin: 8px 0 0 0;
	height: 21px;
	border-bottom:2px solid #aaa;
}	

.navtop ul {
	position:relative;
	float:left;
	width:100%;
	padding:0;
	border-left: 1px solid #aaa;
	margin: 0 0 0 2px;
	list-style: none;
	line-height: 14px;
}
.navtop li {
	float:left;
	margin:0;
	padding:0;
}
.navtop a {
	display: block;
	color: #444;
	text-decoration: none;
	background: #ddd;
	margin: 0;
	padding: 3px 6px;
	border-left: 1px solid #fff;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.navtop A:hover,
.navtop A:active,
.navtop A.here:link,
.navtop A.here:visited {
	background:#fff;
}
.navtop A.here:link,
.navtop A.here:visited {
	position:relative;
	z-index:102;
}


/* TOC */
.navtoc  {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	margin-left: 0px; 
	margin-right: 0px; 
	background-color: #fff;
	line-height:80%;
} 
.navtoc table.level0,
.navtoc table.level1 {
	background: url(../static/images/rootbackground.gif); 
	background-repeat: repeat-x; 
}
.dyntoc {vertical-align:middle; font-size: 12px; height:18px; margin-top: 0px;} /* TD class */
.navtoc A:link		{color: #000; background-color: transparent; text-decoration: none;}
.navtoc A:visited	{color: #000; background-color: transparent; text-decoration: none;}
.navtoc A:hover		{color: #69C; background-color: transparent; text-decoration: none;}
.navtoc A:active	{color: #69C; background-color: transparent; text-decoration: none;}

/* IX */
.navix  {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	margin: 0 16px 8px 4px; 
	background-color: #fff;
} 
div.index dl, div.index dt, div.index dd {
	margin: 0; padding: 0;
}
div.indexdiv h3 {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 0.75em; 
	font-weight: bold; 
	margin: 6px 0 0 4px;
}
div.indexdiv dl dt {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 0.75em; 
	margin: 3px 0 0 28px;
	text-indent: -24px;
}
div.indexdiv dl dd dl dt {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 0.75em; 
	margin: 1px 0 0 40px;
	text-indent: -24px;
}
div.indexdiv dl dd dl dd dl dt {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 0.75em; 
	margin: 1px 0 0 52px;
	text-indent: -24px;
}
.navix A:link	  	    {color: #369; background-color: transparent; text-decoration: none;}
.navix A:visited	    {color: #369; background-color: transparent; text-decoration: none;}
.navix A:hover	      {color: #69C; background-color: transparent; text-decoration: none;}
.navix A:active	      {color: #69C; background-color: transparent; text-decoration: none;}
                      
/* FTS */             
.navfts               {font-family: Tahoma, Arial, Helvetica, sans-serif; text-align: left; margin-left: 16px; margin-right: 16px; color: #000; background-color: #fff;}
td.ftsstats,          
.ftslist              {font-size: 0.75em; margin-bottom: 0.3em; }
ul.ftslist            {margin-top:0.9em; padding: 0px 0px 0.5em 0.5em; }
.ftslistmdl           {font-size: 0.75em; margin-bottom: 0.3em; vertical-align:middle;}
.ftslistbut           {font-size: 0.75em; margin-bottom: 0.3em; padding-bottom: 0em; vertical-align:middle;}
.ftslistsmall         {font-size: 0.7em; margin-bottom: 0.3em; vertical-align:middle;}
.ftsPglist            {font-size: 1em; margin: 0px 0px 0px 0px; padding:0.4em 0.7em 0.4em 0.4em; vertical-align:middle; 
                       border-top: solid 1px #C8CFE0; border-bottom: solid 1px #C8CFE0; background-color: #E4EDF2;}
#ftsnotes td          {padding-top:0.4em; margin:0pt; border-top: solid 1px #00009c;}
div.ftslistTitle      {font-size: 1em; padding: 0.5em 0.7em 0.5em 0.7em; margin: 0em; 
                       border-top: solid 1px #00009c;  background-color: #D8EBF5;}
div#ftsRes            {padding-bottom:0px; margin-bottom:0px}
.ftsPglist *          {padding:0.2em 0.3em 0.5em 0.3em; font-size:0.9em; }
.ftsPglist A:link		  {color: #369; background-color: transparent; text-decoration: none;}
.ftsPglist A:visited	{color: #aaa; background-color: transparent; text-decoration: none;}
.ftsPglist A:hover		{color: #69C; background-color: transparent; text-decoration: underline;}
.ftsPglist span.act	  {color: #DE7C0D; font-weight:bold; background-color: #EFF7FF; border: 1px solid #C8CFE0; border-bottom:1px solid transparent; }
 
.ftsstats {
  text-align: right;
}

td.ftslistTitle {
  width: 90%;
  padding-left: 2px;
}

hr.ftslistTitle {
  padding: 0pt;
  margin: 0pt;
}

/* End Of dynamics.css */
