/* KR: Body font */
body {
    background-color  : #F7F8F8;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 0.8em;
    letter-spacing    : -0.2pt;
    margin-bottom     : 0px;
    margin-left       : 0px;
    margin-right      : 0px;
    margin-top        : 0px;
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-top       : 0px;
  -webkit-text-size-adjust: none; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* KR: Sect 1 and sect 2 background color. Was EDF4F8.  Increasing font size to 12 from 10 */
body.toc {
    background-color  : #FFFFFF;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
    margin-left       : 0pt;
}

form.fts {
    padding-left      : 10pt;
}

body.toc div.toclist {
  width:100%;
}


/* KR: Changing the color of the border. Was "white" */
.toclist .tr.toc1,
.toclist .tr.contspg,
.toclist .tr {
    margin:0px;
    padding:10px;
    min-height:10px;
    text-align: left;
    vertical-align: bottom;    
}

.toclist .tr,
.toclist .tr *  {
    vertical-align: bottom;
}

div.btmline,
.toclist .tr.tce {
    border-top: solid 1px #e0e0e0;
}


span.tdc,
span.td123 {
    font-family: Verdana, Arial, sans-serif;
    font-size:   1em;
    padding:     16px;
}

.toclist .tr span.tdc  { padding: 5px 10px 5px 60px;
                        display: block; }

.toclist .tr span.tdc.ictc { background: url("pi_tocpg8toc.gif") no-repeat left center; }
.toclist .tr span.tdc.iccn { background: url("pi_conts8toc.gif") no-repeat left center; }
.toclist .tr span.tdc.icno { background: url("pi_spc4ic.gif")    no-repeat left center; }

/* Updating some rules above for right-to-left docs. 
   This is a workaround, snce the browsers seem to fail here */
*[dir='rtl'] .toclist .tr span.tdc.ictc,
*[dir='rtl'] .toclist .tr span.tdc.iccn,
*[dir='rtl'] .toclist .tr span.tdc.icno { background-position: right center; }
*[dir='rtl'] .toclist .tr span.tdc      { padding: 5px 60px 5px 10px;
                                          display: block;    }
*[dir='rtl'] .toclist .tr               { text-align: right; }

/* KR: Color of text for sect 1 and sect 2 links. Was 00609E */
.toclist a:link,
.toclist a:visited {
  text-decoration:none;
  color: #000000;
}

.toclist.lvl1 div.toc0,
.toclist.lvl2 div.toc0,
.toclist.lvl3 div.toc0,
.toclist.alltoc div.toc0 {
  background-color: #bddfff;
  font-weight: bold;
}

/* KR: sect 1 background color on sect 2 page */
.toclist div.contspg  {
  background-color: #bddfff;
}

.toclist div.tocswitch {
  background-color: #FFF6D1;
  font-style: italic;  
}

/* KR: Page title */
.toclist div.helptitle td, 
.toclist div.helptitle span.tdc, 
.toclist div.helptitle span.td123 {
  font-size: 11pt;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #81878E; to #ffffff; */
  padding-bottom: 12px;
  padding-top: 8px;
  background-color: transparent;
}

.toclist div.helptitle span.tdc {
   padding: 0px 0px 0px 60px;
}

.toclist div.helptitle,
.toclist div.helptitle div {
  padding-top: 7px;
  background: #000000;
   /* KR: Mar 18, 2014 color changed from url("grd4hd2.png") repeat-x; to #000000; */ 
}

.toclist div.helptitle {
  border-top: 0px solid #CCE0F2;  
  border-bottom: 0px solid #CCE0F2;  
}

.toclist div.helptitle a.navheader:link, 
.toclist div.helptitle a.navheader:visited,
.toclist div.helptitle a.navheader:active,
.toclist div.helptitle a.backlink:link, 
.toclist div.helptitle a.backlink:visited,
.toclist div.helptitle a.backlink:active {
  font-size:10pt;
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #81878E; to #ffffff; */
}
.toclist div.helptitle a.backlink:link .backbtn, 
.toclist div.helptitle a.backlink:visited .backbtn,
.toclist div.helptitle a.backlink:active .backbtn {
  padding:1px 6px 2px 6px;
  background-color: #999999;
  border-top:    solid 1px #000000;
  border-left:   solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-right:  solid 1px #000000;
  background: #000000;
   /* KR: Mar 18, 2014 color changed from url("grd4hd2.png") repeat-x; to #000000; */ 
  float:left;
}

.toclist div.helptitle a.backlink:hover .backbtn {
  padding:1px 6px 2px 6px;
  background-color: #444444;
  border-top:    solid 1px #888888;
  border-left:   solid 1px #888888;
  border-bottom: solid 1px #333333;
  border-right:  solid 1px #333333;
  background-image: none;
}

img {
  border:0px;
  padding:0px;
  margin:0px;
}

td.backcellHd a {
  padding-left:8px;
}

.toclist div.tr.tce:hover,
.toclist .tr.tce a:active:hover ,
.toclist .tr.tce a:visited:hover ,
.toclist .tr.tce a:link:hover  {
  text-decoration:underline;
  background-color: #DCF2F9;
  color: #00609E;
}

.toclist .tr.helptitle:hover span,
.toclist .tr.helptitle a:active:hover span,
.toclist .tr.helptitle a:visited:hover span,
.toclist .tr.helptitle a:link:hover span {  
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #ACB4BD; to #ffffff; */
  text-decoration:none;
  background-color: transparent;
}


