# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# Eclipse
#.classpath
#.project
.settings/

#Momentix/BB
arm-p/
arm/
x86/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Generated node modules, and our locally installed node and npm
node_modules/
npm/
node/

# Grunt distribution files
dist/
dependencies/
