
#toc1showntocentry, 
#toc1 {
  padding-left:0px;
  padding-top:3px;
}


#toc2showntocentry, 
#toc2 {
        margin-left:12pt;
        margin-top:2pt;
        margin-bottom:2pt
        }

#toc3showntocentry, 
#toc3 {
        margin-left:28pt;
        margin-top:2pt;
        margin-bottom:2pt
        }

#toc4showntocentry, 
#toc4 {
        margin-left:40pt;
        margin-top:2pt;
        margin-bottom:2pt;
        color:#085f95;
        }

#toc5showntocentry, 
#toc6showntocentry, 
#toc7showntocentry, 
#toc8showntocentry, 
#toc9showntocentry, 
#toc5,#toc6,#toc7,#toc8,#toc9 {
        margin-left:52pt;
        margin-top:2pt;
        margin-bottom:2pt;
        }

p#toc3,p#toc4,p#toc5,p#toc6,p#toc7,p#toc8,p#toc9 {
  display:list-item;
  list-style-type:none;
}

a.toc5:link, a.toc5:visited, #toc5, 
a.toc6:link, a.toc6:visited, #toc6,
a.toc7:link, a.toc7:visited, #toc7,
a.toc8:link, a.toc8:visited, #toc8, 
a.toc9:link, a.toc9:visited, #toc9
{
        color:#5F96B5;
        letter-spacing:0.2pt; }

td.snum {
  background-color: #E6F0FF;
  font-size: 7pt;
  padding: 0px 4px;
  color: #B0BED1;
  border-right: 1px solid #D7E5F7;  
}

#pitcfeat  { 
  position:absolute; 
  top:5px; 
  right:10px; 
  z-index:2; 
  width:110px;
  z-index:111;  
  background-color: #D4E9FF;
  border: 1px solid #B8DBFF;
  font-size:8pt;
}

tr.lvl1 td.snum {
  background-color: #D1E5F8;
  border-right: 1px solid #D7E5F7;  
}
tr.active td.snum {
    background-color  : #FFF4AB;
  border-right: 1px solid #EDF2F7;  
}

table.navheader {
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 0px;
}

table.navheader * img {
  margin-top: 8px;
  padding-bottom: 0px;
}

table.navheader * p.h5 {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    margin-bottom     : 2pt;
    padding-bottom    : 0px;
    font-weight       : normal;
    color             : #555555;
}

tr.active p#toc1, 
p#toc1.active {
    background-color  : #FFF4AB;
    border-top        : 1px solid #FFF7AD;
    border-bottom     : 1px solid #FFF7AD;
    border-left       : 0px solid #F8DD7E;
    padding-left      : 0pt;
} 

#toctable2 td.ttl {
  width:999px; /* work-around for IE to avoid wrapping issue with longest line */
}

#tochd2 tt.clps,
#toctable2 tt.clps {
  color: #888888;
  font-family: monospace;
  padding: 0px 5px 0px 5px;
  cursor:default;
}


tr.clps-0 tt.clps {
  background:url(ic4clps0.png) no-repeat center;
}
tr.clps-1 tt.clps {
  background:url(ic4clps1.png) no-repeat center;
}
tr.clps-0.ftsMatch0 tt.clps {
  background:url(ic4clps0lt.png) no-repeat center;
}

tr.clps-0 tt.clps:hover {
  background:url(ic4clps0h.png) no-repeat center;
}
tr.clps-1 tt.clps:hover {
  background:url(ic4clps1h.png) no-repeat center;
}
tr.clps-0.ftsMatch0 tt.clps:hover {
  background:url(ic4clps0lth.png) no-repeat center;
}

tr.vizGap td {
  background:url(pi_vizGap2.gif) no-repeat 99px 6px;
  padding-top:20px;
}
tr.vizGap td.fv1st,
tr.vizGap td.fvbend,
tr.vizGap td.fvend,
tr.vizGap td.fvb,
tr.vizGap td.fv,
td.fv1st,
td.fv1stOff,
td.fvbend,
td.fvend,
td.fvb,
td.fv {
  background-color: #D6E7FF;
  border-right: solid 1px #BAC9DE;
  padding:0px 3px;
  font-size:9pt;
  min-width:11px;
  width:11px;
  color:#B8D5FF;
  text-align: center;
}

td.fv1st,
td.fvbend,
td.fvend,
td.fvb,
td.fv {
  padding:0px 3px;
  vertical-align: middle;
}

tr.vizGap td.fvend,
tr.vizGap td.fv,
td.fvend,
td.fv {
  background  : url("ic4nofv2.png") no-repeat center;
  background-color: #D6E7FF;
  font-family: monospace;
}
tr.vizGap td.fv.omo,
td.fv.omo {
  background-color:#D6FFFF;
}
tr.vizGap td.isfv,
td.isfv {
  color:#E3C100;                                     
  background  : url("ic4isfv2.png") no-repeat center;
  background-color: #D6E7FF;
}

tr.vis4 td.fv { border-right:2px solid #F2EECB; }
tr.vis3 td.fv { border-right:2px solid #F2EECB; }
tr.vis2 td.fv { border-right:2px solid #EBD300; }
tr.vis1 td.fv { border-right:2px solid #EBD300; }
tr.vis0 td.fv { border-right:2px solid #EBD300; }       

td#tocdlgTrg,
td#ftsdlgTrg,
td.fv1stOff,
td.fv1st {
    border-top: 0px solid #A5BACE;
    height: 11px;
    padding: 2px 4px 0px 3px;
    background: url("tocbut-back.gif") no-repeat;
    background-color:#D6E7FF;                       
    vertical-align: top;
    color: #4E7E9C;
}
td.fv1stOff {
  padding: 3px 4px 0px 3px;
  color:#c1c1c1;
}

td#ftsdlgTrg {
  border-right: 1px solid #A5BACE;
  padding: 2px 1px 0px 3px;
  color: #84A4BA;
  width: 10px;
}

td#ftsdlgTrg.omo,
td.fv1st.omo {
    background  : url("tocbut-back-act.gif") no-repeat center;
    background-color:#D6E7FF;                       
}

td#tocdlgTrg {
  padding-top: 3px;
  color: #84A4BA;
}

td#tocdlgTrg.omo {
    background  : url("tocbut-back-act.gif") no-repeat center;
}

td.fvbend,
td.fvend {
    border-bottom     : 1px solid #B8D5FF;
}

.hideMe {
  display:none;
}

tr.ftsMatch1 td.isfv,
tr.ftsMatch1 td.fvend,
tr.ftsMatch1 td.fv,
tr.ftsMatch2 td.isfv,
tr.ftsMatch2 td.fvend,
tr.ftsMatch2 td.fv,
tr.ftsMatch3 td.isfv,
tr.ftsMatch3 td.fvend,
tr.ftsMatch3 td.fv {
  background: url("ic4nofv2fts1.png") no-repeat center #009C39;
  color:#005900;
  font-weight:bold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 7pt;
}

tr.vizGap td.isfv {
  background-position: 2px 20px;
}

tr.ftsMatch1 td.isfv,
tr.ftsMatch2 td.isfv, 
tr.ftsMatch3 td.isfv {
  background-image: url("ic4isfv2.png");
}

div#ftsmsg span#nav4ftsMatch3up,
div#ftsmsg span#nav4ftsMatch3dn,
tr.ftsMatch3 td.isfv,
tr.ftsMatch3 td.fvend,
tr.ftsMatch3 td.fv {
  background-color: #00BD03;
}

div#ftsmsg span#nav4ftsMatch2up,
div#ftsmsg span#nav4ftsMatch2dn,
tr.ftsMatch2 td.isfv,
tr.ftsMatch2 td.fvend,
tr.ftsMatch2 td.fv {
  background-color: #64DE66;
}

div#ftsmsg span#nav4ftsMatch1up,
div#ftsmsg span#nav4ftsMatch1dn,
tr.ftsMatch1 td.isfv,
tr.ftsMatch1 td.fvend,
tr.ftsMatch1 td.fv {
  background-color: #9ADBB2;
}

div#ftsmsg span#nav4ftsMatchTup,
div#ftsmsg span#nav4ftsMatchTdn {
  background-color: transparent;
}

div#ftsmsg span.ftsMatchTtl {
  padding-left:50px;
}

div#ftsmsg span#nav4ftsNoMatchUp,
div#ftsmsg span#nav4ftsMatch1up,
div#ftsmsg span#nav4ftsMatch2up,
div#ftsmsg span#nav4ftsMatch3up,
div#ftsmsg span#nav4ftsMatchTup {
  padding:0px 5px;
  background-image:url(ic4mtchNavUp.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #B2CAEB;
}

div#ftsmsg span#nav4ftsNoMatchDn,
div#ftsmsg span#nav4ftsMatch1dn,
div#ftsmsg span#nav4ftsMatch2dn,
div#ftsmsg span#nav4ftsMatch3dn,
div#ftsmsg span#nav4ftsMatchTdn {
  padding:0px 5px;
  background-image:url(ic4mtchNavDn.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #B2CAEB;
}

div#ftsmsg span#nav4ftsNoMatchUp {
  background-image:url(ic4noMtchNavUp.png);
  background-color: #bbbbbb;
}
div#ftsmsg span#nav4ftsNoMatchDn {
  background-image:url(ic4noMtchNavDn.png);
  background-color: #bbbbbb;
}

div#ftsmsg span#nav4ftsMatch1dn:hover,
div#ftsmsg span#nav4ftsMatch2dn:hover,
div#ftsmsg span#nav4ftsMatch3dn:hover,
div#ftsmsg span#nav4ftsMatchTdn:hover,
div#ftsmsg span#nav4ftsMatch1up:hover,
div#ftsmsg span#nav4ftsMatch2up:hover,
div#ftsmsg span#nav4ftsMatch3up:hover,
div#ftsmsg span#nav4ftsMatchTup:hover {
  background-color:#ABF5C6;
}

div#ftsmsg span#nav4ftsNoMatchDn.alert,
div#ftsmsg span#nav4ftsMatch1dn.alert,
div#ftsmsg span#nav4ftsMatch2dn.alert,
div#ftsmsg span#nav4ftsMatch3dn.alert,
div#ftsmsg span#nav4ftsMatchTdn.alert,
div#ftsmsg span#nav4ftsNoMatchUp.alert,
div#ftsmsg span#nav4ftsMatch1up.alert,
div#ftsmsg span#nav4ftsMatch2up.alert,
div#ftsmsg span#nav4ftsMatch3up.alert,
div#ftsmsg span#nav4ftsMatchTup.alert,
div#ftsmsg span.alert,
div#ftsmsg span.alert:hover {
  background-color:#F7AF88;
}
  
div#ftsmsg table#ftsStats td {
  white-space: nowrap;
}

div#ftsmsg table#ftsStats td.val {
  white-space: nowrap;
  padding: 0px 4px;
  text-align:right;
}

div#ftsmsg table#ftsStats td#msgLvl2 .ok {
  background-color: #00BD03
}
div#ftsmsg table#ftsStats td#msgLvl2 .alert {
  background-color: #F7AF88
}

div#ftsmsg table#ftsStats td#msgLvl2 * {
  white-space: normal;
  padding: 3px;
}
div#ftsmsg table#ftsStats td#msgLvl2 {
  white-space: normal;
  padding: 2px 2px 2px 6px;
}

tr.ftsMatch0 td, 
tr.ftsMatch0 td a:link,
tr.ftsMatch0 td a:visited,
tr.ftsMatch0 td a:active { 
  color:#cccccc;
}

tr.ttrsep1t * {
  font-size:8px;
}
tr.ttrsep1b * {
  font-size:2px;
}

#searchFieldCancel {
}

div.tocdlg { 
  position:absolute; 
  top:+85px; 
  z-index:2; 
  min-width:200px;
  border:1px solid #bbbbbb; 
  background:#eeeeee;  
}                                    

div#ftsdlg { 
  position:absolute; 
  top:+85px; 
  left:+30px;
  max-width:350px;
  z-index:2; 
  border:1px solid #bbbbbb; 
  background:#eeeeee;  
  padding-bottom:2px;
}                   

div.tocdlg h1,
div.tocdlg h2,
div.ftsdlg h1,
div.ftsdlg h2 {
  background-color: #bbbbbb;
  color: #555555;
  font-weight:bold;
  font-size:8pt;
  margin:0px;
  padding:3px;
}
div.tocdlg h2,
div.ftsdlg h2 {
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  background-color: #dadada;
  font-weight:normal;
}

div#ftsdlg a:visited .small,
div#ftsdlg a:link .small,
div#ftsdlg a:active .small,
div#ftsdlg .small {
  color: #999999;
  font-size:8pt;
}
div#ftsdlg p,
div#ftsdlg li {
  margin:0px;
  padding:0px 5px 0px 3px;
  font-size:8pt;
  font-style: italic;
  color: #888888;
  text-indent:0px;
}
div#ftsdlg p.lggrph, /* logographic */
div#ftsdlg li.lggrph {
  font-size:10pt;
  font-style:normal;
}

div#ftsdlg ul { 
  margin: 0px 5px 0px 2px; 
  padding: 0px; 
  text-indent:0px;
}
div#ftsdlg ul li {
  list-style-type: none;
  padding: 0px 0px 0px 22px;
  text-indent:-22px;
}
div.tocdlg a:link,
div.tocdlg a:visited,
div.tocdlg a:active,
div.ftsdlg a:link,
div.ftsdlg a:visited,
div.ftsdlg a:active { 
  background:transparent;  
  text-decoration: none;
  width:95%;            
  z-index:2; 
  white-space: nowrap;
  overflow:hidden;
  color:#444444;
  font-size:9pt;
}

div.ftsdlg a:link,
div.ftsdlg a:visited,
div.ftsdlg a:active { 
  padding-left: 15px;
}
div.ftsdlg a.isOpt:link,
div.ftsdlg a.isOpt:visited,
div.ftsdlg a.isOpt:active {
  background  : url("chkmkbl.png") no-repeat center left;
}
div.ftsdlg a.isOpt:hover {
  background  : url("chkmkbl.png") no-repeat center left;
  background-color: #A7C3EB;
}

div.ftsdlg a.unAvl1:link,
div.ftsdlg a.unAvl1:visited,
div.ftsdlg a.unAvl1:active {
  background  : url("chkmkgr.png") no-repeat center left;
  color: #bbbbbb;        
}
div.ftsdlg a.unAvl1:hover {
  background  : url("chkmkgr.png") no-repeat center left;
}
                 
div.ftsdlg a.unAvl:link,
div.ftsdlg a.unAvl:visited,
div.ftsdlg a.unAvl:active,
div.ftsdlg a.unAvl:link span,
div.ftsdlg a.unAvl:visited span,
div.ftsdlg a.unAvl:active span {
  color: #bbbbbb;
}

div.ftsdlg div,
div.tocdlg div {      
  margin:0px;
  height:20px;
  min-width:97%;
  padding:3px 3px 0px 3px;
  vertical-align: middle;
}

div.ftsdlg p.grp,
div.tocdlg p.grp,
div.ftsdlg div.grp,
div.tocdlg div.grp {
  border-top:1px solid #bbbbbb;
  margin:0px;
  min-width:97%;
}

div.ftsdlg p.grpn,
div.tocdlg p.grpn,
div.ftsdlg div.grpn,
div.tocdlg div.grpn {
  border-bottom:1px solid #bbbbbb;
}

div.ftsdlg div:hover,
div.ftsdlg a.noOpt:hover,
div.tocdlg div:hover,
div.tocdlg a:hover {
  background-color:#A7C3EB;  
  color:#ffffff;
}

td#tab4fts {
  margin:0px;
  padding:1px 0px 1px 0px;  
  margin:0px;
  vertical-align:top;
}

td#tab4fts:hover {
  background-color: #D7E5F7;
  border-top: 1px solid #A5BACE;
}

input#searchField.dflt {
  color:#bbbbbb;
  font-style: italic;
}
input#searchField {
  width:80px;
  height:13px;
  background-color: transparent;
  border:0px;
}
td#tab4srchFld {
  border-bottom: 1px inset #bbbbbb;
  border-top: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid transparent;
  background  : url("tocinp-back2.gif") repeat-x;
  margin:0px;
  padding:1px;
  font-size: 10pt;
  background-color: #A7C3EB;
}
a#x4srch {
  position:relative;
  top:4px;
  padding:4px 2px 4px 2px;
  vertical-align: top;
  font-size: 6pt;
  background-color: transparent;
  color:#888888;
}
div#x4ftsStats:hover,
a#x4srch:hover {
  color:#bb0022;
  text-decoration:none;
}

div#x4ftsStats {
  position:absolute;
  top:4px;
  right:4px;
  font-size: 6pt;
  background-color: transparent;
  color:#888888;
}

form.tocnav {
  margin:0px;
  padding:0px;
  display:inline;
}

div.tocheader {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
  top:0px;
  height:75px;
  font-size: 10pt;
  margin-top:0px;
}

div#ftsmsg {
  position: absolute;
  height: auto;
  z-index: 120;
  left:6px;
  right:6px;
  top:34px;
  text-align:left;
  height:auto;
  font-size: 8pt;
  padding: 4px;
  background-color:#B8D5FF;
  border:#ADC9F0;
  color:#000000;
}

div#ftsmsg.ftsStats {
  left:2px;
  right:2px;
  top:3px;
  padding: 0px 4px 0px 0px;
  text-align:left;
  background-color:#EBF3FF;
  vertical-align:bottom;
  border: 1px solid #D8E7ED;
}
div#ftsmsg.ftsStats table,
div#ftsmsg.ftsStats table td {
  font-size: 8pt;
  border-collapse: collapse;
  padding:0px;
  margin:0px;
}

div.tocconts {
  margin-top: 75px;
}

div#ftsRes {
  margin-top: 90px;
}

ul.ftslist {
  padding-left: 12px;
}

ul.ftslist li {
  padding:1px;
}
ul.ftslist li.active {
    background-color  : #FFF4AB;
}

div.bksel {
  position:relative;
  top:20px;
  left:8px;
}

#tocnavtbl {
  position:absolute;
  bottom: 0px;
}

table.ix-nav {
  padding-top:20px;
}

p.xdd,
p.xdt {
  margin:1px;
}

p.xdiv {
  margin:0px;
  font-weight: bold;
}

tr.x td {
  margin: 0px;  
  padding: 0px;  
}

div#ftsRes .nomatch {
  font-weight:normal;
  font-size:9pt;
  padding:6px 8px 8px 8px;
}
div#ftsRes .nomatch .alert {
  color: #973126;
}

