/* 
	DocBook V4.3-Based Variant DbXixos V1.0 
	XSL transformation for Online Help output. 
	Created 2005 by itl AG & cap studio 

	This CSS file is part of the 
	OpenText authoring environment. 
	Only authorized users may use or modify this file. 
	Distribution is limited to other OpenText users.


	Description
	===========
	
	This file contains CSS definitions for the WebHelp HTML 
	content.
	

	Version
	=======
	
	2005-05-26 mmh: v0.6
	2005-06-02 mmh: .to-gloss make standard link 'blue'
	2005-06-03 mmh: .setlines -> .title-setlines
	2005-06-09 ekbert: set display for h4.titlepage and deeper to "none"
	2006-07-04 ekbert: modified settings for .setlines 

*/

/* GENERAL PAGE LAYOUT */

html, body {
	height: 100%;
}
body {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin: 0;
	padding: 0;
}
body.topicpage { background-image: url(../static/images/pattern.gif); }
@media print { body.topicpage { background-image: none; } }

#dbxixos-container {
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
}
html>body #dbxixos-container {
	height: auto;
}
#dbxixos-content {
	padding: 12px 12px 48px 24px;
}
#dbxixos-footer {
	position: absolute;
	bottom: 0;
	padding: 0 0 6px 0;
	width: 100%;
}
#dbxixos-footer table.footer {
	padding: 0;
}
#dbxixos-footer table.footer td.col1 {
	padding-left: 6px;
}

/* PAGE CONTENT */

/* LINKS */

#dbxixos-content a:link		{ color: #003366; }
#dbxixos-content a:active	{ color: #3300FF; }
#dbxixos-content a:visited	{ color: #003366; }
#dbxixos-content a:hover	{ color: #3300FF; }

/* HEADINGS */

/* formatting for topic titles, 
   hidden on screen, visible when printed */
div.titlepage h1.title,
div.titlepage h2.title,
div.titlepage h3.title,
div.titlepage h4.title,
div.titlepage h5.title,
div.titlepage h6.title,
div.titlepage h7.title { display: none; }

@media print { 
	div.titlepage h1.title,
	div.titlepage h2.title,
	div.titlepage h3.title,
	div.titlepage h4.title,
	div.titlepage h5.title,
	div.titlepage h6.title,
	div.titlepage h7.title { display: block; } 
}

div.titlepage .subtitle {
	font-weight: bold;
	font-size: 150%;
	margin: 1em 0 0.5em 0;
}

.revnumber {
	font-weight: regular;
	font-size: 100%;
	margin: 1em 0 1em 0;
}

div.abstract {
	margin: 2em;
}


/* bridgeheads on different hierarchy levels */
.bridgehead {
	font-weight: bold;
	font-size: 100%;
	margin: 1em 0 0.5em 0;
}

.bridgehead-first {
	font-weight: bold;
	font-size: 100%;
	margin: 0 0 0.5em 0;
}

.footnote  {
	font-size : 90%;
	margin-bottom: 0px;
}

.footnote a,
sup a {
	text-decoration: none;
}



/* FORMATTING FOR RELATED TOPICS */

ul#dbxixos-rel, #dbxixos-rel ul {
	margin: 0 0 16px 16px;
	padding: 0;
	font-size: 10px;
	list-style: none;
	width: 120px; /* Width of Menu Items */
	border-bottom: 1px solid #aaa;
	position: relative;
	float: right;
}

ul#dbxixos-rel li {
	position: relative;
}

#dbxixos-rel li ul {
	position: absolute;
	left: -135px; /* Set 1px less than menu+margin width */
	top: 0;
	display: none;
}

ul#dbxixos-rel li {
	border: 1px solid #aaa;
}

/* Styles for Menu Items */
ul#dbxixos-rel li i,
ul#dbxixos-rel li a {
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	background: url(images/arrow-left.gif) no-repeat 0 50%; 
	padding: 3px 0 3px 12px;
	border-bottom: 0;
}

ul#dbxixos-rel ul li i,
ul#dbxixos-rel ul li a {
	background: #fff; /* IE6 Bug */
	font-weight: normal;
	padding: 2px 5px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#dbxixos-rel li { float: left; height: 1%; }
* html ul#dbxixos-rel li i { height: 1%; }
* html ul#dbxixos-rel li a { height: 1%; }
/* End */

#dbxixos-rel ul li a:hover { color: #3300FF; } /* Hover Styles */
		
#dbxixos-rel li:hover ul, #dbxixos-rel li.over ul { display: block; } /* The magic */

.content-spacer {		/* end of float */
	clear: both;
}

/* PARAGRAPH FORMATS */

p, dt {
	margin: 0 0 0.5em 0;
}

.para-title {
	font-weight: bold;
	font-size: 100%;
}

.glossary dt {
	font-weight: bold;
	font-size: 100%;
}

/* LISTS */

ol {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 2em;
}

dl {
	margin: 0;
	padding: 0;
}

ul {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 1.5em;
}

li {
	margin-top: 0;
	padding-top: 0;
}

ul[compact] p, ol[compact] p {
	margin: 0 0 0.25em 0;
}

.itemizedlist, .variablelist {
	margin-top: 0;
	padding-top: 0;
}

.itemizedlist .title, .variablelist .title {
	font-weight: bold;
	font-size: 100%;
	margin: 1em 0 1em 0;
}

.listitem-title {
	font-weight: bold;
	font-size: 100%;
}

.title-setlines {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px black groove;
  border-bottom: 1px black groove;
}

.variablelist dt {
	margin: 1em 0 0.5em 0.7em;
}

.variablelist .term {
	font-weight: bold;
	font-size: 100%;
  margin-left: -0.7em;  
}

.variablelist .code-list-term {
	font-family: "Courier New", Courier, monospace;
	font-size: 115%;
  margin-left: -0.7em;  
}

.variablelist table td {
	vertical-align: top;
}
.variablelist table img {
	margin-right: 1em;
}

.procedure .title {
	font-weight: bold;
	font-size: 100%;
	margin: 1em 0 0.5em 0;
}
.procedure ol li ol {
	padding-left: 1.7em;
	margin-left: 0;
	list-style-position: outside;
}

.caution, .important {
	width:100%;
	border: solid 1px white;
	margin: 1em .7em .7em 0em;
}
.caution {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.caution .admon-icon, .important .admon-icon {
	width: 2%;
	font-weight: bold;
	padding: 0pt 10pt 10pt 0pt;
	vertical-align:top;
}
.caution .admon-body, .important .admon-body {
	text-align: left;
	width: 98%;
}
.caution ul, .important ul {
	padding-left: 1.5em;
	margin-left: 0;
}

.note, .tip {
	width:100%;
	border: solid 1px white;
	padding: 0em 0 0em 0;
}

.note .admon-icon, .tip .admon-icon {
	width: 2%;
	font-weight: bold;
	padding: 0pt 10pt 10pt 0pt;
	vertical-align:top;
}

.note .admon-body, .tip .admon-body {
	text-align: left;
	width: 98%;
}

.note ul, .tip ul {
	padding-left: 1.5em;
}

.admon-title {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.admon-title-float {
	font-weight: bold;
	float: left;
	margin-right: 0.5em;
}
.admon-spacer {
	clear: both;
}

/* EXAMPLES */

.example {
	margin: 2em 0em 2em 0em;
	padding: 1em;
	background-color: #FFFDE5;
}

.example-title {
	font-weight: bold;
	margin-bottom: 1em;
}

/* TABLES */

.table, .informaltable {
	margin: 2em 0 2em 0;
}

.table .title {
	font-weight: bold;
}

.table table, .informaltable table {
	border: 1px solid black;
	border-collapse: collapse;
}

.table thead tr, .informaltable thead tr {
	background-color: #C0C0C0;
	border-bottom: 1px solid black;
	text-align: left;
}

.table tbody td, .informaltable tbody td,
.table tbody tr, .informaltable tbody tr {
	border-bottom: 1px solid black;
}

.shade-gray1 { background-color:#f0f0f0 }
.shade-gray2 { background-color:#e0e0e0 }
.shade-gray3 { background-color:#d0d0d0 }
.shade-gray4 { background-color:#c0c0c0 }
.shade-gray5 { background-color:#b0b0b0 }
.shade-black { background-color:#000000; color:#EFF7FF }

.table th, .table td,
.informaltable th, .informaltable td {
	border-left: 1px solid black;
	padding: 3px;
}

.informaltable-invisible table {
	border: none;
	margin: 0 0 0.5em 0;
}

.informaltable-invisible tr {
	border: none;
}


/* FIGURES AND IMAGES */

.figure {
	margin: 1.5em 0 1.5em 0;
}
#dbxixos-content p img {
	margin: 0 0;
}


/* INLINE ELEMENTS */

.emphasis  {
	font-style : italic;
}
.glossterm  {
	font-style : italic;
}
.highlight  {
	font-weight : bold;
}
.red  {
	color: red;
}
.guilabel {
	font-weight: bold;
}
code, .literal, .code, .filename, .screen, .programlisting {
	font-family : "Courier New", Courier, monospace;
	font-size: 115%;
}
pre.screen {
	margin: 0 0 0.425em 0;
}
.inactive {
	color: grey;
}
.namestring {
	font-style : italic;
	white-space: nowrap;
}
.to-gloss {
	text-decoration: none;
	color: #003366;
	border-bottom: #003366 dotted 1px;
}



/* FOOTER STYLES */

.subtopics {
	margin: 1.5em 0;
	padding: 0.5em;
	background-color: #eee;
}
.subtopics div {
	margin-bottom: 0.25em;
	margin-left: 1em;
}
.subtopics div.title {
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-left: 0;
}

.Copyright  {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 	font-style: normal;
	font-size: 10px;
 	font-weight: normal;
 	color: #58595b;
}

.CopyrightTable  {
	width : 100%;
}

.CopyrightCell  {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}

