#requests {
  width: 35%;
  float: left;
}
#responses {
  width: 64%;
  float: right;
}

.msg {
  float: left;
  clear: both;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.label {
  float: left;
  clear: both;
  width: 120px;
  padding: 3px;
}

.field {
  float: left;
}

.comment {
	float: left;
	clear: both;
	padding: 5px;
	border-bottom: 1px solid black;
	width: 95%;
}
.comment-image {
	float: left;
	padding: 4px;
}
.comment-inner {
	float: left;
}
#server-messages {
	height: 500px;
	overflow-y: scroll;
}
#responses {
	position: absolute;
	right: 5px;
}