.categories {
    position: relative;
}

.btnSubmit {
    margin-top: 30px ;
    margin-bottom: 30px;
    display: none;
}

.plain-form .form-group {
    padding: 8px;
}

.plain-form .form-group label {
    display: block;
}