/* KR: Body font */
body {
    background-color  : #FFFFFF;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
    letter-spacing    : -0.2pt;
    margin-bottom     : 0px;
    margin-left       : 0px;
    margin-right      : 0px;
    margin-top        : 0px;
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-top       : 0px;
    -webkit-text-size-adjust: none; 
}
/* KR: Header navigation links */
table.secnavbutt p {
  margin-bottom:0px;
  margin-top:0px;
  padding-left:0.3cm;
  font-size:0.75em;
}
table.secnavbutt td {
  padding-left:4px;
}

tr.inpagetoc td {
  margin-top:10px;
  padding-top:10px;
  padding-bottom:10px;
  color:#aaaaaa;
}

td,
th,
/* KR: Body font */
p {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
}

td,
th,
p,
pre,
dt {
    color             : #444444;
}

p.tiny {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
}

p.footer {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    text-align        : center;
}

p.legalnotice {
    font-family       : Verdana, Arial, sans-serif;
    margin-top        : 10pt;
}

p.lot {
    font-family       : Verdana, Arial, sans-serif;
    margin-bottom     : 0pt;
    margin-top        : 0pt;
}

p.xdiv {
    font-size         : 10pt;
    font-weight       : bold;
}

#footer		{
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    text-align        : center;
}

td,
/* KR: Footer navigation font */
th {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
}

table.navbutt {
}

td#navheadcell {
    height            : 14px;
    padding-left      : 2px;
    padding-right     : 2px;
}

table.secnavbutt {
    border-collapse   : collapse;
    margin-left       : -10px;
}

td#navheadcell.blindbutt,
td#navheadcell.butt {
    /*background-image  : url("tocbuts-back.gif");
    border-bottom     : 1px solid #CAD8E4;
    border-right      : 1px solid #CAD8E4;
    border-top        : 1px solid #CAD8E4;*/
}

td#navheadcell.blindbutt {
    border-right      : 0px solid #CAD8E4;
    font-size:2px;
}

th.gray1,
tr.gray1,
td.gray1 {
    background-color  : #d7ebff;
}

th.gray2,
tr.gray2,
td.gray2 {
    background-color  : #BADCFC;
}

th.gray3,
tr.gray3,
td.gray3 {
    background-color  : #91bef0;
}

th.gray4,
tr.gray4,
td.gray4 {
    background-color  : #2e8cd1;
    color             : #EFF7FF;
}

th.gray5,
tr.gray5,
td.gray5 {
    background-color  : #0058b0;
    color             : #EFF7FF;
}

th.black,
tr.black,
td.black {
    background-color  : #000000;
    color             : #EFF7FF;
}

td.lidist {
    width             : 1em;
}
/* KR: Font for bullet list. Added left margin and padding */
ul {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
    padding-left      : 15pt;
    margin-left       : 10pt;
}


body.idx,
body.idx2,
form.fts,
body.fts,
body.toc {
    background-color  : #EDF4F8;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    margin-left       : 0pt;
}

form.fts {
    padding-left      : 10pt;
}

p#toc1.active,
p.active,
tr.active,
td.active,
a.active,
a.active:visited,
a.active:active,
a.active:link {
    background-color  : #FFF4AB;
    color             : #444444;
    font-size         : 8pt;
    text-decoration   : none;
}

p#toc1.active {
    border-left       : 6px solid #D1E5F8;
    padding-left      : 5pt;
}    

table.ix-nav p {
    font-size         : 8pt;
}

table.ix-nav *,
table.ix-nav * a:link,
table.ix-nav * a:visited,
div.lot-SUB-TOC a,
ul.bksel a,
a.ix-nav:link,
a.ix-nav:visited,
a.ix-nav:active,
a.totoc:link,
a.totoc:active,
a.totoc:visited,
a.navheader:link,
a.navheader:active,
a.navheader:visited,
a.navheaderpart:link,
a.navheaderpart:active,
a.navheaderpart:visited,
a.navheaderchapt:link,
a.navheaderchapt:active,
a.navheaderchapt:visited,
a.navheaderpreface:link,
a.navheaderpreface:active,
a.navheaderpreface:visited,
a.navheadersect1:link,
a.navheadersect1:active,
a.navheadersect1:visited,
a.navheadersect2:link,
a.navheadersect2:active,
a.navheadersect2:visited,
a.navheadersect3:link,
a.navheadersect3:active,
a.navheadersect3:visited,
a.navheadersect4:link,
a.navheadersect4:active,
a.navheadersect4:visited,
a.navheadersect5:link,
a.navheadersect5:active,
a.navheadersect5:visited,
a.navheadersect6:link,
a.navheadersect6:active,
a.navheadersect6:visited,
a.navheadersect7:link,
a.navheadersect7:active,
a.navheadersect7:visited,
a.navheadersect8:link,
a.navheadersect8:active,
a.navheadersect8:visited,
a.navheadersect9:link,
a.navheadersect9:active,
a.navheadersect9:visited {
    color             : #00609E;
    text-decoration   : none;
}

a.ftsreslinkpassed:link,
a.ftsreslinkpassed:visited,
a.ftsreslinkpassed:active,
a.ftsreslink:link,
a.ftsreslink:visited,
a.ftsreslink:active{
    color             : #00609E;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    line-height       : 1.1;
    text-decoration   : none;
}

a.ftsreslinkpassed:link,
a.ftsreslinkpassed:visited,
a.ftsreslinkpassed:active,
a.ftsreslinkpassed {
    color             : #5C849E;
}


a.ftsreslink:active {
    color             : #990033;
}

div.lot-SUB-TOC a,
div.lot-SUB-TOC a:visited,
#NAVHEADCELL,
#toc2,
#toc3,
#toc4,
#toc5,
#toc6,
#toc7,
#toc8,
#toc9,
a.toc:link,
a.toc:visited,
a.toc2:link,
a.toc2:visited,
a.toc3:link,
a.toc3:visited,
a.toc4:link,
a.toc4:visited,
a.toc5:link,
a.toc5:visited,
a.toc6:link,
a.toc6:visited,
a.toc7:link,
a.toc7:visited,
a.toc8:link,
a.toc8:visited,
a.toc9:link,
/* KR: Hyperlink font in header and body 
This font affects both the header links and the links in the body. Changing this from pt to em
makes the font size in the header larger then 
the body*/
a.toc9:visited {
    color             : #00609E;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : .95em;
    letter-spacing    : 0.2pt;
    line-height       : 1.1;
    margin-left       : 4pt;
    text-decoration   : none;
  /*  white-space       : nowrap;*/
}

#toc2showntocentry,
#toc2 {
    font-weight       : bold;
    margin-bottom     : 2pt;
    margin-top        : 4pt;
}

#toc3showntocentry,
#toc3 {
    font-weight       : normal;
    margin-bottom     : 1pt;
    margin-top        : 3pt;
}

#toc4showntocentry,
#toc4 {
    color             : #085f95;
    font-weight       : normal;
    margin-top        : 0pt;
    margin-bottom     : 1pt;
}

a.toc5:link,
a.toc6:link,
a.toc7:link,
a.toc8:link,
a.toc9:link,
#toc5showntocentry,
#toc6showntocentry,
#toc7showntocentry,
#toc8showntocentry,
#toc9showntocentry,
#toc5,
#toc6,
#toc7,
#toc8,
#toc9 {
    margin-top        : 0pt;
    margin-bottom     : 1pt;
    color             : #5F96B5;
    font-weight       : normal;
}

a.toc1:link,
a.toc1:visited {
    color             : #00609E;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    font-weight       : bold;
    letter-spacing    : 0.2pt;
    text-decoration   : none;
}

.ftslisttitle {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    font-weight       : bold;
    text-decoration   : none;
}

td.ftslistsmall div {
    font-size         : 8pt;
    color             : #00609E;
    text-decoration   : none;
    padding-top       : 5px;
}

.ftslistcountintitle {
    color             : #222222;
    font-size         : 7pt;
    font-weight       : normal;
}

.ftslist {
    font-size         : 8pt;
    list-style-type   : disc;
    margin-bottom     : 0.3em;
    margin-left       : 1em;
}

#toc1showntocentry,
#toc1 {
    background-color  : #D1E5F8;
    border-style      : none;
    border-width      : thin;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 0.75em;
    font-weight       : bold;
    letter-spacing    : 0.2pt;
    margin-bottom     : 0pt;
    margin-left       : 0pt;
    margin-right      : 0pt;
    margin-top        : 0pt;
    padding-bottom    : 2pt;
    padding-left      : 10pt;
    padding-right     : 8pt;
    padding-top       : 2pt;
    text-decoration   : none;
}


#widencell {
    color             : #EDF4F8;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : bold;
    letter-spacing    : 0.2pt;
    width             : 1000px;
}

a.toc:active,
a.toc1:active,
a.toc2:active,
a.toc3:active,
a.toc4:active,
a.toc5:active,
a.toc6:active,
a.toc7:active,
a.toc8:active,
a.toc9:active  {
    color             : #990033;
    font-family       : Verdana, Arial, sans-serif;
    font-weight       : bold;
    text-decoration   : none;
}

a.x:link {
    font-style        : normal;
    font-weight       : normal;
}

a.x:visited {
    color             : #7079aa;
    font-style        : normal;
    font-weight       : normal;
}

a.x:active {
    color             : #990033;
    font-weight       : bold;
}

a.minor:link {
    text-decoration   : none;
}

a.minor:visited {
    text-decoration   : none;
}

a.minor:active {
    text-decoration   : none;
}

a.blind:link,
a.blind:visited,
a.blind:active {
    color             : #000000;
    text-decoration   : none;
}

b.tooltip,
a.addinfo {
    color             : #008800;
    font-weight       : bold;
    text-decoration   : none;
}

a.ix-nav:link,
a.ix-nav:visited,
a.ix-nav:active {
    font-family       : Verdana, Arial, sans-serif;
    font-style        : normal;
    font-weight       : normal;
    text-decoration   : none;
}

a:link {
    color             : #00609E;
    text-decoration   : none;
}

a:visited {
    color             : #9090ba;
    text-decoration   : none;
}

a:active {
    color             : #006666;
}

a.navheader:hover,
a.navheaderpart:hover,
a.navheaderpreface:hover,
a.navheaderchapt:hover,
a.navheadersect1:hover,
a.navheadersect2:hover,
a.navheadersect3:hover,
a.navheadersect4:hover,
a.navheadersect5:hover,
a.navheadersect6:hover,
a.navheadersect7:hover,
a.navheadersect8:hover,
a.navheadersect9:hover {
    color             : #80B4D6;
    text-decoration   : underline;
}

a:hover,
a.minor:hover,
a.x:hover,
a.toc:hover,
a.toc1:hover,
a.toc2:hover,
a.toc3:hover,
a.toc4:hover,
a.toc5:hover,
a.toc6:hover,
a.toc7:hover,
a.toc8:hover,
table.ix-nav * a:link:hover,
a.toc9:hover,
a.x:hover,
a.totoc:hover {
    color             : #80B4D6;
    text-decoration   : underline;
}

strong {
    background-color  : #FFCC33;
}

p.bridgehead-boldpara {
    font-weight       : bold;
}
/* KR: Chapter and Section header */
h1 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1.1em;
    font-weight       : normal;
}

h1.idx2,
h1.toc {
    color             : #00609E;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    font-weight       : bold;
    height            : 4em;
    margin-bottom     : 0p;
    padding-bottom    : 0pt;
    padding-left      : 10px;
    padding-top       : 0px;
}

h1.toctitle {
    color             : #00609E;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
    margin-bottom     : 5px;
    padding-bottom    : 10px;
    padding-left      : 15px;
    padding-top       : 0px;
}

h1.title {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
    margin-bottom     : 0pt;
}

p.bridgehead-subheading1,
/* KR: Table of Contents font */
h2 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1.1em;
    font-weight       : normal;
}

h2.book {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 15pt;
    font-weight       : bold;
    margin-top        : 0pt;
}

h2.revnumber {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    font-weight       : normal;
}

p.bridgehead-subheading2,
h3 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
}

p.bridgehead-subheading3,
h4 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
}

p.bridgehead-subheading4,
h5 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
}

p.bridgehead-subheading5,
h6 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 13pt;
    font-weight       : normal;
}

h4.section,
h5.section,
h6.section {
    font-weight       : bold;
}

p.bridgehead-subheading1,
p.bridgehead-subheading2,
p.bridgehead-subheading3,
p.bridgehead-subheading4,
p.bridgehead-subheading5 {
  font-size         : 11pt;
  margin-top        : 14pt;  
  padding-top       : 3pt;
  border-top        : 3px solid #E5EFF5; 
  margin-bottom     : 10pt;
}

p.h5 {
    color             : #000000;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : .95em;
    font-weight       : bold;
    margin-bottom     : 2pt;
    padding-bottom    : 4px;
    margin:4px 0px 4px 10px;
}

p.navheader,
p.navheaderpreface,
p.navheaderpart,
p.navheaderchapt {
    color             : #000099;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    font-weight       : normal;
}

p.navheadersect1,
p.navheadersect2,
p.navheadersect3,
p.navheadersect4,
p.navheadersect5,
p.navheadersect6,
p.navheadersect7,
p.navheadersect8,
p.navheadersect9 {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 8pt;
    font-weight       : normal;
}

p.navheaderpart,
p.navheaderpreface,
p.navheaderchapt,
p.navheadersect1,
p.navheadersect2,
p.navheadersect3,
p.navheadersect4,
p.navheadersect5,
p.navheadersect6,
p.navheadersect7 {
    line-height       : 1;
    margin-bottom     : 0pt;
    margin-left       : 0pt;
    margin-top        : 0pt;
    padding-bottom    : 0pt;
    padding-top       : 0pt;
}

td.prevnext {
    margin-bottom     : 0pt;
    margin-top        : 0pt;
}

hr.warning,
hr.caution {
    color             : #F7F8F8;
    display           : none;
}

hr {
    color             : #000099;
}

table.ix-nav,
p.ix-nav {
    margin-left       : 12pt;
}

p.xdt {
    font-weight       : bold;
    text-indent       : 0pt;
}

p.xdd {
    font-style        : normal;
    margin-left       : 0pt;
    text-indent       : 0pt;
}

dt.x {
    font-weight       : bold;
}

dd.x {
    font-style        : italic;
    margin-left       : 15pt;
}

tt    {
    font-family       : typewriter, 'Courier New', monospace;
}

tt.toclit    {
    font-family       : typewriter, 'Courier New', monospace;
    line-height       : 1.2;
}

tt.error    {
    color             : #ff0000;
    font-family       : Verdana, Arial, sans-serif;
}

dt.vl {
    color             : #444444;
    margin-bottom     : 0pt;
    margin-top        : 13pt;
    margin-left       : 1em;
}

dl.vl p.nr1 {
    margin-top        : 0pt;
}

dt.inactive,
dd.inactive,
p.inactive,
p.vlli-inactive,
p.inactive2ul,
li.inactive,
tt.inactive {
    color             : #aaaaaa;
}

tt.interface,
tt.command,
tt.literal {
    letter-spacing    : -0.5pt;
}

tt.refnum {
    font-size         : 70%;
    font-style        : italic;
}

table.note,
table.tip,
table.important,
table.warning,
table.caution {
    background-color  : #E5EFF5;
    border            : 1px solid #C6D9E5;
    margin-bottom     : 15pt;
    margin-top        : 0pt;
}

table.note p,
table.tip p,
table.important p,
table.warning p,
table.caution p {
    color             : #333333;
}

/*  KR: This is the same definition as Important except the border is slightly larger 2px vs. 1px.
table.warning,
table.caution {
    background-color  : #FFF0C6;
    border            : 2px solid #F3E7B3;
    border-left       : 15px solid #F3E7B3;  This looks like an error on the table
} */

/* KR: adding table.warning and table,caution to this definition */
table.warning,
table.caution,
table.important {
    background-color  : #FFF0C6;
    border            : 1px solid #F3E7B3;
}

#toc1showntocentry,
#toc2showntocentry,
#toc3showntocentry,
#toc4showntocentry,
#toc5showntocentry,
#toc6showntocentry,
#toc7showntocentry,
#toc8showntocentry,
#toc9showntocentry,
#showntocentry {
    background-color  : #E2F2FC;
    color             : #990033;
}

font.showntocentry {
    color             : #990033;
}

font.ttlpgh1 {
    font-family       : Verdana, "Arial", sans-serif;
    font-size         : 1.2em;
    font-weight       : bold;
}

font.ttlpgh2 {
    font-family       : Verdana, "Arial", sans-serif;
    font-size         : 1.05em;
    font-weight       : normal;
}

font.ttlpgh3 {
    font-family       : Verdana, "Arial", sans-serif;
    font-size         : 1.2em;
    font-weight       : bold;
    line-height       : 3em;
}

font.ttlpgh4 {
    color             : #990033;
    font-family       : Verdana, "Arial", sans-serif;
    font-size         : 0.9em;
    font-weight       : normal;
    line-height       : 1.4em;
}

/* KR:  TESTING.....
b.warning,
b.caution,
p.warning,
p.caution {
    align             : center;
    font-family       : "Arial Black", sans-serif;
    font-size         : 10pt;
    font-weight       : bold;
} */


/* KR: why is this needed??? Removing extra padding in caution table 
table.caution td {
    padding-left      : 10pt;
} */


p.cautiontext,
p.warningtext {
    font-size         : 10pt;
}

p.warning,
p.caution,
p.important,
p.note,
p.tip {
    margin-bottom     : 6pt;
    margin-top        : 2pt;
    padding-left      : 5pt;
}

ul.important,
ul.note,
ul.tip {
    margin-bottom     : 6pt;
    margin-top        : 0pt;
}

.tabverspace {
    font-size         : 2px;
    margin-bottom     : 0pt;
    margin-top        : 0pt;
}

p.vlli-inactive,
p.vlli {
    margin-bottom     : 3pt;
    margin-top        : 3pt;
    padding-bottom    : 3pt;
    padding-top       : 3pt;
}

p.before-ul {
    margin-bottom     : 3pt;
    padding-bottom    : 3pt;
}

p.compact {
    margin-bottom     : 0pt;
    margin-top        : 0pt;
    padding-bottom    : 0pt;
    padding-top       : 0pt;
}

ul.compact {
    margin-bottom     : 10pt;
    padding-bottom    : 10pt;
}

div.example,
table.example {
    background-color  : #fff9e1;
    margin-bottom     : 15px;
}

td.docstat1 {
    padding-bottom    : 3px;
    padding-top       : 10px;
}

a:link.docstat1,
a:visited.docstat1,
a:active.docstat1,
font.docstat1  {
    color             : #999999;
    text-decoration   : none;
}

a:link.docstat2,
a:visited.docstat2,
a:active.docstat2 {
    color             : #999999;
    text-decoration   : underline;
}

td * .docstat1 {
}

td.vlterm {
    padding-right     : 10px;
    vertical-align    : top;
}

td.percontscell,
td.focontscell,
/* KR: Reduce space in Important and Notes */
td.iconcell {
    padding           : 0px 4px 0px 0px;
    vertical-align    : top;
}

td.iconcell {
    padding           : 4px 4px 0px 0px;
}

td.percontscell p {
  margin: 0px;
  padding: 5px;
}

/* KR: Changing padding-left to 100 px. I think this is an error I made */
td.vlitem {
    padding-left      : 10px;
    vertical-align    : top;
}

.remark {
    color             : #aa0000;
    font-size         : smaller;
    font-style        : italic;
    font-weight       : bold;
}

span.softwrapper {
  font-size:1pt;
}

div.navheaderttlpg,
div.navheader {
    margin-right      : 0px;
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-right     : 0px;
    padding-top       : 4px;
}

div.navheader {
    padding-top       : 0px;
}

/* KR: Removed border. If pages were short, the divider appeared on the page.
div.navheader,
div.navfooter {
    background-color  : #EAF5F9;
    border-top        : 1px solid #DFE9F2;
    border-bottom     : 1px solid #DFE9F2;
} */

div.pagecontent,
div.footnotelist,
div.navheader,
div.navfooter {
    border-right      : 0px solid #888888;
}


table.navheader {
    padding-bottom    : 0px;
    padding-top       : 0px;
    padding-left      : 0px;
}

table.navfooter {
    height            : 46px;
    margin-bottom     : 0px;
    margin-top        : 3px;
    padding-bottom    : 3px;
    padding-left      : 10px;
    padding-right     : 10px;
    padding-top       : 3px;
    vertical-align    : bottom;
}

table.primnavbutt  {
    margin-top        : 10px;
    padding-bottom    : 0px;
    padding-right     : 15px;
    text-align        : right;
}

table.secnavbutt  {
    padding-left      : 2px;
    padding-right     : 20px;
    margin-left       : 0px;
    margin-right      : 20px; 
}

table.navheader td p.h5 {
    margin-top       : 2px;
    margin-left      : 10px;
    margin-right     : 20px;
}

table.navheader p.helptitle {
    font-weight      : bold;
}

tr.helptitle td {
/*    padding-bottom: 1px; */
  color: #ACB4BD;
  text-decoration:none;
  background-color: #transparent;
  background: #000000;
   /* KR: Mar 18, 2014 color changed from url("grd4hd2.png") repeat-x; to #ffffff; */ 
  padding: 8px 0px 10px 0px;
}
tr.navtoc1ST td {
  padding-top: 5px;
}
tr.inpagetoc.navtoc1st td {
  padding-top: 8px;
}

td.primnavbutt {
    text-align        : right;
    vertical-align    : top;    
    padding-top       : 10px;
}

div.pagecontent {
    background-color  : #FFFFFF;
    border-bottom     : 0px solid #AFBDCB;
    border-top        : 0px solid #AFBDCB;
    margin-bottom     : 0px;
    padding-bottom    : 10px;
    padding-left      : 10px;
    padding-right     : 10px;
    padding-top       : 3px;
}

div.tocheader {
    background-color  : #EAF5F9;
    background-image  : url("OpenText_Logo_hlp_150.gif");
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-top       : 11px;
    margin-bottom     : 2px;  
}

div.legalnotice {
    font-size         : 10px;
    padding-top       : 10px;
}

div.legalnotice p {
    font-size         : 10px;
    margin-bottom     : 10px;
    margin-top        : 10px;
}

div.footnotelist {
    border-top        : 1px solid #DFE9F2;
    padding-bottom    : 20px;
    padding-left      : 10px;
    padding-right     : 10px;
    padding-top       : 0px;
}

table.buttbar,
td.totoc {
    background-image  : url("tocbut-back.gif");
    border-bottom     : 0px solid #AFBDCB;
    height            : 21px;
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-right     : 0px;
    padding-top       : 0px;
}

table.buttbar .active {
    background-image  : url("tocbut-back-act.gif");
}

table.buttbar {
    border-bottom     : 0px solid #AFBDCB;
}

a.to-gloss a.to-gloss:active,
a.to-gloss:visited,
a.to-gloss:link,
.to-gloss  {
    color             : #368F86;
    font-style        : italic;
    text-decoration   : none;
}

a.totocact {
    background-color  : #dddddd;
    background-image  : url("tocbut-back-act.gif");
}

hr.bookttltop {
    margin-top        : 10px;
}

hr.bookttlbot {
    margin-bottom     : 8px;
    margin-top        : 15px;
}

p.toc-like  {
    margin-left       : 0px;
    margin-top        : 0px;
}

p.toc-like1  {
    font-weight       : bold;
    margin-bottom     : 0px;
    margin-left       : 0px;
    margin-top        : 10px;
}

p.toc-like2  {
    display           : list-item;
    font-weight       : bold;
    list-style        : circle none outside;
    margin-bottom     : 0px;
    margin-left       : 20px;
    margin-top        : 5px;
}

p.toc-likeN  {
    display           : list-item;
    list-style        : disc none outside;
    margin-bottom     : 0px;
    margin-left       : 40px;
    margin-top        : 0px;
}

pre.screen-inline  {
    margin-bottom     : 8px;
    margin-left       : 12px;
    margin-top        : 8px;
}

.mod4ja-toc1,
.mod4ja-toc2,
.mod4ja-toc3 {
    padding-bottom    : 1px;
    padding-top       : 6px;
}

.mod4ja-toc4,
.mod4ja-toc5
{
    padding-bottom    : 1px;
    padding-top       : 2px;
}

/*  KR: Reducing the amount of space before an ordered list item */

div.procedure {
    margin-top        : 8pt;
    margin-left       : 0pt; 
}

td.vlterm {
    padding-bottom    : 3pt;
    padding-right     : 8pt;
    padding-top       : 8pt;
    vertical-align    : top;
}

td.vlitem{
    padding-top       : 8pt;
}

td.vlitem p {
    margin-bottom     : 6pt;
    margin-top        : 0pt;
}

.cp2clp {
    color             : #333333;
    text-decoration   : none;
}

.cp2clphover {
    color             : #999999;
}

table.note p {/* just to surround a conflict between old llhelp200.css and ix21.css */
    font-weight       : normal;
}

.otmodulehidetr, 
.otmodulehidetc, 
.otmodulehide {
    display           : none;
}

.otmoduleshow1 {
    display           : inline;
}

.otobar {
    background-color  : #D1E5F8;
    padding-top       : 4px;
    padding-bottom    : 4px;
    padding-right     : 8px;
    margin-right      : 8px;
    height            : 23px;
}

.otobar td {
    background-image  : url("oto_bg.gif");
    font-size         : 8pt;
    color             : #666666;
    padding-right     : 8px;
    margin-right      : 8px;
    border-bottom     : 2px solid #FFC82F;
}

.otobar * a:link,
.otobar * a:active,
.otobar * a:visited {
    color             : #666666;
    color             : #00609E;
    font-weight       : normal;
    text-decoration   : none;
}

.otobar * a:hover {
    color             : #00609E;
    text-decoration   : underline;
}

a.otobar_prefix:link, 
a.otobar_prefix:active, 
a.otobar_prefix:visited,
.otobar_prefix {
    color             : #00609E;
    font-weight       : bold;
    padding-right     : 5px;
}


.navfooter * .otobar td {
    border-top        : 1px solid #fff4bf;
    border-bottom     : 0px;
    margin-bottom    : 10px;
}

.programlisting .highlight .function {
    color            :  #303089;
}

.programlisting .comment {
    color            :  #18725C;
}

table.locator td {
    margin : 2px;  
    padding : 2px;  
    padding-left : 6px;  
    padding-right : 6px;  
    border: 1px solid #99CCFF;
}

table.locator td.spacer {
    border: 0px;
}

hr.locatorpath {
    width:100%;
    height: 1px; 
    color:#CDE5FD;  
    margin: 0px;
    padding: 0px;
    text-align:center;

}

table.locator {
  display:none;
}

table.locatorshow {
  display:none;
}


table.locator * p.locatorpathtitle,
table.locator * p.locatorpathlast,
table.locator * p.locatorpath {
  margin : 0px;    
  padding-top : 2px;    
  padding-bottom : 4px;    
  font-size:8pt;
  color:#666666;
}

table.locator * p.locatorpathtitle,
table.locator * p.locatorpath {
    border-bottom : 1px solid #CDE5FD;  
}

img.locatorbutt {
  text-align:right;
  margin-right: 0px;
  padding-left: 15px;
  position:relative;
  float:right;
  top:0px;  
}

.locatsep {
  color:#99CCFF;
  font-weight:bold;  
}

p.bkselact,
p.bksel {
  background: url("pi_bkselbgm.gif") no-repeat;
  color:#000000;
  font-size: 8pt;
  margin: 0px;
  margin-top: 10px;
  padding-left: 30px;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  height:22px;
  line-height:22px;
  width:1000px;
}
p.bkselact a:link,  p.bkselact a:visited,   p.bkselact a:active,
p.bksel a:link, p.bksel a:visited, p.bksel a:active {
  color:#7293A4;
  font-weight:bold;
  text-align:bottom;
}

p.bkselact {
  background-image  : url("hpi_bkselbgm.gif");
}

div.bksel table.tocnote {
  width:150pt;
}
div.bksel {
  margin-top:10px;
}
div.bksel a,
div.bksel span,
table.tocnote * td {
    font-size         : 8pt;
}
table.tocnote * td {
    padding-left      : 8pt;
}
div.bksel ul {
  margin-top: 6px;
  margin-bottom: 10px;
}

.fts-match0 { background-color:#FFFF66; }
.fts-match1 { background-color:#A0FFFF; }
.fts-match2 { background-color:#99FF99; }
.fts-match3 { background-color:#FF9999; }
.fts-match4 { background-color:#FF66FF; }

a:link .fts-match0, a:visited .fts-match0, a:active .fts-match0,
a:link .fts-match1, a:visited .fts-match1, a:active .fts-match1,
a:link .fts-match2, a:visited .fts-match2, a:active .fts-match2,
a:link .fts-match3, a:visited .fts-match3, a:active .fts-match3,
a:link .fts-match4, a:visited .fts-match4, a:active .fts-match4 { 
  background-color:#cccccc; 
/* Caution: this intentionally also affects named a elements, as this 
   matches the behaviour of the FTS indexer */
}

span.boxed-platform {
  background-color  : #CAD8FE;
/*  font-weight       : bold; */
  color             : #336699;
  font-family       : Arial, sans-serif;
  padding           : 0px 2px 0px 2px;  
  border            : 1px solid #336699;
}
/* KR: Optional box */
span.boxed-optional {
  background-color  : #d0d0d0;
/*  font-weight       : bold; */
  color             : #666666;
  font-family       : Arial, sans-serif;
  font-size         : 1em;
  padding           : 2px 3px 2px 3px;  
}

span.picmt {
  background:url('pi_picmt.gif') no-repeat;
  background-color:#cccccc;
  border: 1px solid #444444;
  width:20px;
  height:16px;
  margin:10px 0px 0px 2px;
  padding:0px 2px 0px 10px;
  color:#444444;
  line-height:20px;
  font-size:10px;
}

span.picmt:hover {
  background-color: #bbbbbb;
  border: 1px solid #557FFF;
  color:#557FFF;
}

tr.tocsep2u td,
tr.tocsep1u td {
  font-size: 2px;
}
.inpagetoc .sep4a {
  color:#aaaaaa;
}

/* Also check tr.helptitle td */
p.helptitle a.backlink:link,
p.helptitle a.backlink:visited,
p.helptitle a.backlink:active {
  padding:0pt 10pt 0pt 0pt;
  font-size:10pt;
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #81878E; to #ffffff; */
}

tr.helptitle a.backlink:link .backbtn, 
tr.helptitle a.backlink:visited .backbtn,
tr.helptitle a.backlink:active .backbtn {
  position:absolute;
  top: 5px;
  left: 10px;
  width:24px;
  height:24px;
/*  border-top:    solid 1px #BBBBBB;
  border-left:   solid 1px #BBBBBB;
  border-bottom: solid 1px #EEEEEE;
  border-right:  solid 1px #EEEEEE;*/
  background: url("pi_ic4back.png") no-repeat;
  text-decoration: none;
}

tr.helptitle a.backlink:hover .backbtn {
/*  border-top:    solid 2px #999999;
  border-left:   solid 2px #999999;
  border-bottom: solid 0px #BBBBBB;
  border-right:  solid 0px #BBBBBB;
  background-image: none;*/
}

p.helptitle a.navheader:link,
p.helptitle a.navheader:visited,
p.helptitle a.navheader:active {
  font-size:11pt;
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #81878E; to #ffffff; */
  padding-left: 0px;
}

p.helptitle a.backlink:hover,
p.helptitle a.navheader:hover {
  color: #ffffff;
    /* KR: Mar 18, 2014 color changed from #ACB4BD; to #ffffff; */
  text-decoration:none;
}

p.helptitle {
  padding-right: 30px;
  margin-left: 18px;
}

tr.helptitle img {
  border:0px;
}

td.backlinkhd p.helptitle {
  padding:1px 0px 0px 10px;
}

td.backlinkhd  {
  width:20px;
}

.nobr { white-space: nowrap; }

.closebtn {
  position:absolute;
  top: 5px;
  right: 10px;
  width:24px;
  height:24px;
  background: url("pi_ic4close.png") no-repeat;
}
