/* KR: Body font */
body {
    background-color  : #F7F8F8;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 0.8em;
    letter-spacing    : -0.2pt;
    margin-bottom     : 0px;
    margin-left       : 0px;
    margin-right      : 0px;
    margin-top        : 0px;
    padding-bottom    : 0px;
    padding-left      : 0px;
    padding-top       : 0px;
  -webkit-text-size-adjust: none; 
}

td,
/* KR: Footer navigation font */
th {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 1em;
}

/* KR: Sect 1 and sect 2 background color. Was EDF4F8 */
body.toc {
    background-color  : #FFFFFF;
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    margin-left       : 0pt;
}

form.fts {
    padding-left      : 10pt;
}

table.toclist {
  border-collapse: collapse;
  width:100%;
}


/* KR: Changing the color of the border. Was "white" */
table.toclist td {
  padding:10px 15px;
  border-top: solid 1px e0e0e0;
  border-bottom: solid 1px e0e0e0;
  background-color: #FFFFFF;
}

/* Styles to be used for different TOC levele in full toc page */
table.toclist.alltoc tr.toc0 td {
  background-color: #bddfff;
  font-weight: bold;
}
table.toclist.alltoc tr.toc1 .td2 {
}
table.toclist.alltoc tr.toc2 .td2 {
  padding-left: 2em;  
}

/* KR: Color of text for sect 1 and sect 2 hover links.
NEED TO DETERMINE HOW TO HIGHLIGHT ENTIRE ROW, NOT JUST TEXT */
table.toclist a:active,
table.toclist a:hover {
  text-decoration:underline;
  color: #00609E;
}


/* KR: Color of text for sect 1 and sect 2 links. Was 00609E */
table.toclist a:link,
table.toclist a:visited {
  text-decoration:none;
  color: #000000;
}

table.toclist .tocswitch td {
  background-color: #FFF6D1;
  font-style: italic;  
}

/* KR: sect 1 background color on sect 2 page */
table.toclist tr.contspg td {
  background-color: #bddfff;
}

/* KR: Page title */
table.toclist tr.HELPTITLE td {
  font-size: 8pt;
  font-weight: bold;
  border-top: 0px solid #CCE0F2;  
  border-bottom: 1px solid #CCE0F2;  
/*  background-color: #2C83D4;
  padding-top: 1px;
  padding-bottom: 3px;*/

  color: #ffffff;
  background-color: #000000;
  padding-bottom: 10px;
  padding-top: 10px;
}

table.toclist tr.HELPTITLE a.navheader:link, 
table.toclist tr.HELPTITLE a.navheader:visited,
table.toclist tr.HELPTITLE a.navheader:active,
table.toclist tr.HELPTITLE a.backlink:link, 
table.toclist tr.HELPTITLE a.backlink:visited,
table.toclist tr.HELPTITLE a.backlink:active {
  font-size:10pt;
  color: #ffffff;
}

table.toclist tr:hover td { 
  background-color: #E7F3FF; 
}

img {
  border:0px;
}

td.backcellHd a {
  padding-left:8px;
}
