@CHARSET "UTF-8";
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url(../img/main-bg.png) repeat-x;
	padding: 0;
	margin: 0;
	color: #333;
}

.tracker-label {
	display: inline-block;
	width: 10em;
}

.tracker-body {
	min-height: 350px;
}

.tracker-header {
	background: url(../img/navbar-bg.png) repeat-x;
	color: #fff;
	height: 42px;
	text-align: left;	
	font-size: 20px;
	padding: 6px 0 0 50px;
}
.tracker-footer {
	border-top: 1px solid #e5e5e5;
	padding: 20px 0 0 0;
	margin-top: 20px;
	font-size: 13px;
	clear: both;
	float: left;
	width: 100%;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
.header-title {
	float: left;
}
.user-actions {
	float: right;
}

.tracker-wipe-button {
	width: 20em;
}

.tracker-id-field {
}

.tracker-field {
}

.tracker-inputs {
}

.tracker-inputs input {
	margin-top: -2px;
	padding: 0.4em 3px;
	border: 1px solid #d0d0d0;
}

table {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse
}
th {
	text-align: left;
	background: transparent;
	padding-left: 5px;
	padding-bottom: 10px;
}


td {
	background: transparent;
	padding: 6px 0 6px 5px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}

#login-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}
.content-pane {
	background: #fff;
	border: 1px solid #f2f2f2;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	margin: 40px auto 0px auto;
}
#login-pane {
	width: 450px;
	float: left;
}
.control {
	float: left;
}
.login-top {
	font-size: 19px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 40px;
}
.login-left {
	width: 160px;
	text-align: right;
	float: left;
	padding: 4px 20px 20px 0;
	font-size: 13px;
}
.login-right input {
	width: 210px;
	height: 18px;
	padding: 4px;
	float: left;
}
.login-right {
	width: 270px;
	float: right;
	padding: 0 0 20px 0;
}
.login-bottom {
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding: 20px 0 0 0;
	clear: both;
	float: left;
	width: 100%;
}
.ui-button,
.ui-button-primary {
	-moz-box-shadow:inset 0px 1px 0px 0px #33a0d6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #33a0d6;
	box-shadow:inset 0px 1px 0px 0px #33a0d6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0088cc), color-stop(1, #0044cc) );
	background:-moz-linear-gradient( center top, #0088cc 5%, #0044cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc');
	background-color:#0088cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0062b7;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:6px 9px;
	text-decoration:none;
}
.ui-button-small,
.ui-button {
	padding: 3px 6px;
}
#logoutButton {
	margin-right: 10px;
}
.ui-button-primary:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0044cc), color-stop(1, #0088cc) );
	background:-moz-linear-gradient( center top, #0044cc 5%, #0088cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0044cc', endColorstr='#0088cc');
	background-color:#0044cc;
}
.ui-button-primary:active {
	position:relative;
	top:1px;
}


.ui-widget-overlay {
	background: url("images/ui-bg_inset-soft_15_2b2922_1x100.png") repeat-x scroll 50% bottom #2B2922;
	opacity: 0.9;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.sub-header {
	float: left;
	width: 100%;
	border-bottom: 2px solid #e4e4e4;
	padding: 5px 0;
	margin-bottom: 5px;
}
.sub-title {
	float: left;
	font-size: 28px;
}
#user-selector {
	float: right;
}


#userClientContainer {
	clear: both;
}

.ui-dialog {
}
.ui-dialog-titlebar-close {
	display: none;
}
.ui-dialog-titlebar {
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
	text-align: center;
	font-size: 21px;
	float: left;
	width:100%;
	padding: 17px 0;
}
.ui-dialog-title {
}
.ui-dialog-buttonset {
	text-align: center;
	padding: 20px 0 25px 0;
	background: #fff;
	float: left;
	width:100%;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.ui-dialog-buttonset .ui-button {
	margin: 0 5px;
}
.ui-dialog-content {
	background: #fff;
	float: left;
	width:100% !important;
}
.ui-dialog-content p {
	margin: 0px;
	padding: 15px 40px;
}
.strong {
	font-weight: bold;
}


.ui-dialog-buttonset .wipe-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #b9da71;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b9da71;
	box-shadow:inset 0px 1px 0px 0px #b9da71;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6d052), color-stop(1, #7bb638) );
	background:-moz-linear-gradient( center top, #a6d052 5%, #7bb638 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d052', endColorstr='#7bb638');
	background-color:#a6d052;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #9bb268;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:10px 16px;
	text-decoration:none;
}
.ui-dialog-buttonset .wipe-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7bb638), color-stop(1, #a6d052) );
	background:-moz-linear-gradient( center top, #7bb638 5%, #a6d052 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb638', endColorstr='#a6d052');
	background-color:#7bb638;
}
.ui-dialog-buttonset .wipe-btn:active {
	position:relative;
	top:1px;
}


.ui-dialog-buttonset .cancel-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fd89a0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fd89a0;
	box-shadow:inset 0px 1px 0px 0px #fd89a0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f56f88), color-stop(1, #f24d5d) );
	background:-moz-linear-gradient( center top, #f56f88 5%, #f24d5d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56f88', endColorstr='#f24d5d');
	background-color:#f56f88;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cf788a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:10px 16px;
	text-decoration:none;
}
.ui-dialog-buttonset .cancel-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24d5d), color-stop(1, #f56f88) );
	background:-moz-linear-gradient( center top, #f24d5d 5%, #f56f88 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24d5d', endColorstr='#f56f88');
	background-color:#f24d5d;
}
.ui-dialog-buttonset .cancel-btn:active {
	position:relative;
	top:1px;
}
.tracker-wipe-button {
	color: #7294AF;
	cursor: pointer;
}
.tracker-wipe-button.disabled {
	color: inherit;
	cursor: inherit;
}