#toc2showntocentry, 
#toc2 {
        margin-left:12pt;
        margin-top:2pt;
        margin-bottom:2pt
        }

#toc3showntocentry, 
#toc3 {
        margin-left:24pt;
        margin-top:2pt;
        margin-bottom:2pt
        }

#toc4showntocentry, 
#toc4 {
        margin-left:36pt;
        margin-top:2pt;
        margin-bottom:2pt;
        color:#085f95;
        }

#toc5showntocentry, 
#toc6showntocentry, 
#toc7showntocentry, 
#toc8showntocentry, 
#toc9showntocentry, 
#toc5,#toc6,#toc7,#toc8,#toc9 {
        margin-left:48pt;
        margin-top:2pt;
        margin-bottom:2pt;
        }

p#toc3,p#toc4,p#toc5,p#toc6,p#toc7,p#toc8,p#toc9 {
  display:list-item;
  list-style-type:none;
}

a.toc5:link, a.toc5:visited, #toc5, 
a.toc6:link, a.toc6:visited, #toc6,
a.toc7:link, a.toc7:visited, #toc7,
a.toc8:link, a.toc8:visited, #toc8, 
a.toc9:link, a.toc9:visited, #toc9
{
        color:#5F96B5;
        letter-spacing:0.2pt; }

table.navheader {
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 0px;
}

table.navheader * img {
  margin-top: 8px;
  padding-bottom: 0px;
}

table.navheader * p.h5 {
    font-family       : Verdana, Arial, sans-serif;
    font-size         : 10pt;
    margin-bottom     : 2pt;
    padding-bottom    : 0px;
    font-weight       : normal;
    color             : #555555;
}

