<script id="page_tmpl" type="text/x-jquery-tmpl">
		<div id="header">
			<div id="pageLogo">
			    <a href="${utils.GetBaseUrl()}" title="Home" alt="Home">
			        <img src="${info.repo}/img/logo.png" title="${T('LABEL.Home')}"/>
			    </a>
            </div>
			<div id="actionsWrapper">
				<ul id="actionsMenu">
					<li class="menuDivider shareRequest"></li>
					<li id="shareRequest" class="shareRequest">
						<div class="menuTop">
							<a href="#" id="shareRequestTabStop" onClick="return false;">
								<div id="shareRequestIcon">
									<div id="shareRequestCount"></div>
								</div>
							</a>
						</div>

						<ul id="shareRequestSummary"></ul>
					</li>
					<li class="menuDivider"></li>
					<li id="userActions">
						<div class="menuTop">
							<div id="userPicWrapper">
								<a href="#" onClick="return false;">
									<img id="userPic" src="${user.profilePicUrl}"></img>
								</a>
							</div>
							<div id="userWelcome" class="floatLeft">
								<div id="welcome" class="clearBoth">${T('LABEL.Welcome')}</div>
								<div id="username">${user.displayName}</div>
							</div>
						</div>
						<div id="disk"></div>
						<ul>
							{{tmpl(utils.MarkLast(topLinks)) "#userActionLink_tmpl"}}
						</ul>
					</li>
					<li class="menuDivider"></li>
				</ul>
			</div>
		</div>
		<div id="page">
			<div id="content">
				<div id="leftColumnWrapper">
					<div id="disk"></div>
					<div id="leftColumn"></div>
				</div>
				<div id="centerColumnWrapper">
					{{tmpl "#centerColumn_tmpl"}}
				</div>
				<div id="rightColumnWrapper">
					{{tmpl "#rightColumn_tmpl"}}
				</div>
				<div class="newLine"></div>
			</div>
		</div>
</script>

<script id="leftColumn_tmpl" type="text/x-jquery-tmpl">
		<div id="leftColumn">
			</div>

</script>
<script id="columnHead_tmpl" type="text/x-jquery-tmpl">
		{{if isCheckAllColumn}}
			<div class="columnHeader ${classes}" id="checkAllHeader">
				<div class="columnSpacer"></div>
				<div class="itemCheckAllBox">
					<a id="checkAll" href="#" onclick="return false;"><img src="${info.repo}/img/chkbox.png" /></a>
				</div>
			</div>
		{{else}}
			<div class="columnHeader ${classes}" id="${id}">
					<span><a href="#" onclick="return false;">${columnName}</a></span>
				{{if id !="sizeHeader"}}
					<div class="columnSpacer"></div>
				{{/if}}
				<div class="columnSortArrow"></div>
			</div>
		{{/if}}


</script>

<script id="centerColumn_tmpl" type="text/x-jquery-tmpl">
		<div id="centerColumn">
			<div id="toolBar">
				<div id="pageActions"></div>
				<div id="pageSearch">
					<div id="rightheadSearch">
						<label for="searchfield">${T('LABEL.SearchYourDirectory')}</label>
						<input type="text" id="searchfield" name="search" value="" placeholder="${T('LABEL.SearchYourDirectory')}" />
						<button id="searchMagIcon" type="button"></button>
					</div>
				</div>
			</div>
			<div id="breadcrumBar" >
				<div id="breadcrumbWrapper"></div>
				<div id="browseViewSelectors">
					<div id="sortMenu">
						<div id="sortMenuButtonWrapper">
							{{tmpl(ui.sortMenu()) "#dropDownSort_tmpl"}}
						</div>
					</div>
					<div id="thumbnailViewSelectorWrapper" title="${T('LABEL.BrowseThumbnailView')}">
						<button id="thumbnailViewSelector" class="" type="button" name="thumbnailViewSelector"></button>
					</div>
					<div id="listViewSelectorWrapper" title="${T('LABEL.BrowseListView')}">
						<button id="listViewSelector"  class="on" type="button" name="listViewSelector"></button>
					</div>
				</div>
			</div>
			<div id="columnHeaderWrapper">
			</div>
			<div id="backupLevel"></div>
			<div id="contentmain">
				<div id="updatingImage" class="displayNone">
					{{tmpl "#loadingImage_tmpl"}}
				</div>
				<div id="itemsForFileTab">
				</div>
				<div id="itemsForSearchTab">
				</div>
			</div>
		</div>

</script>

<script id="rightColumn_tmpl" type="text/x-jquery-tmpl">
		<div id="rightColumn">
			<div id="objectInfo"></div>
			<div id="searchInfo"></div>
			<div id="accordionContainer"></div>
		</div>

</script>

<script id="leftColumnTabItem_tmpl" type="text/x-jquery-tmpl">
		<div id="${tabId}" class="leftColumnTabItem" {{if tabId != "allFiles"}} style="display:none;" {{/if}}>
			<div class="leftColumnItemHeader {{if tabSelected}} selected {{/if}}">
				<div class="leftColumnIcon"><img class="leftTabIcon" src="${info.repo}/img/${tabIcon}" /></div>
				<div class="leftColumnText"><a href="#" onclick="return false;">${tabName}</a></div>
			</div>
			<div class="leftColumnItemArrow {{if tabSelected}} selected {{/if}}"></div>
		</div>
</script>

<script id="userActionLink_tmpl" type="text/x-jquery-tmpl">
		 <li class="{{if last}}last{{/if}}"><a href="${url}" class="backLinks ${classes}" id="${id}">${text}</a></li>

</script>

<script id="loginTemplate_tmpl" type="text/x-jquery-tmpl">
    <div id="loginPage">
        <div id="productLogo"></div>
        <div class="newLine"></div>
        <div class="loginContent">
            <div id="loginInputs">
                {{tmpl(usernameInput) "#input_tmpl"}}
                {{tmpl(passwordInput) "#input_tmpl"}}
                {{tmpl(button) "#button_tmpl"}}
            </div>
            <div id="loginError" class="errorText "> <b>${T('LABEL.Error')}</b>: ${"Invalid User or Password"}</div>
        </div>
    </div>
</script>

<script id="loginTemplate_tmpl_sparse" type="text/x-jquery-tmpl">
    <div id="loginPage">
        <div id="productLogo"></div>
        <div class="newLine"></div>
        <div class="loginContent">
            <div id="loginInputs">
                <input id="loginName" type="text" name="loginName" placeHolder=${T('LABEL.UserName')}></input>
                <input id="loginPwd" type="password" name="loginPwd" placeHolder=${T('LABEL.Password')}></input>
                <button id="loginButton" name="loginButton">${T('LABEL.SignIn')}</button>
            </div>
            <div id="loginError" class="errorText "> <b>${T('LABEL.Error')}</b>: ${"Invalid User or Password"}</div>
        </div>
    </div>
</script>

<script id="dialogs_tmpl" type="text/x-jquery-tmpl">
			<div id="dialogs">
					{{tmpl(confirmationDialog) "#confirmationDialogTemplate_tmpl"}}
					{{tmpl(historyDialog) "#historyDialogTemplate_tmpl"}}
					{{tmpl(historyDialogFolder) "#historyDialogFolderTemplate_tmpl"}}
					{{tmpl(publishDestinationOptionDialog) "#publishDestinationOptionDialogTemplate_tmpl"}}
					{{tmpl(publishDialog) "#publishDialogTemplate_tmpl"}}
					{{tmpl(aboutDialog) "#aboutDialogTemplate_tmpl"}}
					{{tmpl(profilePictureAndPasswordDialog) "#profilePictureAndPasswordDialogTemplate_tmpl"}}
					{{tmpl(userNotificationConfigDialog) "#userNotificationConfigDialogTemplate_tmpl"}}
			</div>

</script>
<script id="button_tmpl" type="text/x-jquery-tmpl">
			<button {{if id}}id="${id}"{{/if}} class="${classes}" name="${name}" type="{{if type}}${type}{{else}}button{{/if}}" {{if tabIndex}}tabIndex="${tabIndex}"{{/if}} ><span> ${textLeft} </span>{{if img}}
			<img src="${info.repo}/img/${img}" />
			{{/if}}
			<span>${textRight}</span></button>

</script>
<script id="wrappedButton_tmpl" type="text/x-jquery-tmpl">
		<div class="btn">
			<div class="btnLeft"></div>
			<div class="btnMid">
				<button {{if id}}id="${id}"{{/if}} class="${classes}" name="${name}" type="{{if type}}${type}{{else}}button{{/if}}" {{if tabIndex}}tabIndex="${tabIndex}"{{/if}} ><span> ${textLeft} </span>{{if img}}
				<img src="${info.repo}/img/${img}" />
				{{/if}}
				<span>${textRight}</span></button>
			</div>
			<div class="btnRight"></div>
		</div>

</script>

<script id="input_tmpl" type="text/x-jquery-tmpl">

		<div class="${wrapperClasses}">
			<label  for="${id}" >${label}</label>
			{{if textTop}}${textTop}<div class="newLine"></div>{{/if}}
			{{if textLeft}}${textLeft}{{/if}}
			{{if instructionText}}<span class="inputInstruction">${instructionText}</span>{{/if}}
			<input 	type="${type}" 	id="${id}" {{if classes}} class="${classes}" {{/if}} name="${name}" {{if value}}value="${value}"{{/if}} {{if placeHolder}} placeholder="${placeHolder}" {{/if}} {{if defaultChecked}} checked {{/if}} />
			<span class="${id}TextRight">${textRight}</span>
		</div>


</script>

<script id="dropDownSort_tmpl" type="text/x-jquery-tmpl">
		{{if textLeft}}<span class="dropDownTextLeft">${textLeft}</span>{{/if}}
			{{if button}}
				{{tmpl(button) "#button_tmpl"}}
			{{/if}}

			<div id="sortDropDownWrapper">
				<ul {{if id}}id="${id}"{{/if}} class="dropdown">
					<ul style="clear: both">
						{{tmpl(utils.MarkLast(options)) "#dropDownOptionsSort_tmpl"}}
					</ul>
				</ul>
			</div>

</script>

<script id="dropDown_tmpl" type="text/x-jquery-tmpl">
		<ul {{if id}}id="${id}"{{/if}} class="dropdown ">
			<li>
			{{if button}}
				{{tmpl(button) "#button_tmpl"}}
			{{/if}}
			{{if href}}<a href="${href}">{{/if}}
			{{if textLeft}}<span class="dropDownTextLeft">${textLeft}</span>{{/if}}
			{{if img}}
				<img
				{{if imgClasses}}class="${imgClasses}"{{/if}}
				src="${info.repo}/img/${img}"/>
			{{/if}}
			{{if textRight}}<span class="dropDownTextRight">${textRight}</span>{{/if}}
			{{if href}}</a>{{/if}}
			{{if options}}
				<div class="dropDownMenu">
					<div class="whiteLine"></div>
					{{if UpArrow}}
					<img src="${info.repo}/img/arrow-up.png" class="arrowUp"/>
					{{/if}}
					<ul style="clear: both">
						{{tmpl(options) "#dropDownOptions_tmpl"}}
					</ul>
				</div>
			{{/if}}
			</li>
		</ul>

</script>

<script id="dropDownThumbnail_tmpl" type="text/x-jquery-tmpl">
		<ul {{if id}}id="${id}"{{/if}} class="dropdown ">
			<li>
			{{if href}}<a href="${href}">{{/if}}
			{{if textLeft}}<span class="dropDownTextLeft">${textLeft}</span>{{/if}}
			{{if img}}
				<img
				{{if imgClasses}}class="${imgClasses}"{{/if}}
				src="${info.repo}/img/${img}"/>
			{{/if}}
			{{if textRight}}<span class="dropDownTextRight">${textRight}</span>{{/if}}
			{{if href}}</a>{{/if}}
			{{if options}}
				<div class="dropDownMenu">
					{{if UpArrow}}
					<img src="${info.repo}/img/arrow-up.png" class="arrowUp"/>
					{{/if}}
					<ul style="clear: both">
						{{tmpl(options) "#dropDownOptions_tmpl"}}
					</ul>
				</div>
			{{/if}}
			</li>
		</ul>

</script>

<script id="dropDownWrapped_tmpl" type="text/x-jquery-tmpl">
		<div class="btn" {{if id}}id="${id}"{{/if}}>
			<div class="btnLeft"></div>
			<div class="btnMid">
				<ul class="dropdown ">
					<li>
					{{if button}}
						{{tmpl(button) "#button_tmpl"}}
					{{/if}}
					{{if href}}<a href="${href}">{{/if}}
					{{if textLeft}}<span class="dropDownTextLeft">${textLeft}</span>{{/if}}
					{{if img}}
						<img
						{{if imgClasses}}class="${imgClasses}"{{/if}}
						src="${info.repo}/img/${img}"/>
					{{/if}}
					{{if textRight}}<span class="dropDownTextRight">${textRight}</span>{{/if}}
					{{if href}}</a>{{/if}}
					{{if options}}
						<div class="dropDownMenu">
							{{if UpArrow}}
							<img src="${info.repo}/img/arrow-up.png" class="arrowUp"/>
							{{/if}}
							<ul style="clear: both">
								{{tmpl(options) "#dropDownOptions_tmpl"}}
							</ul>
						</div>
					{{/if}}
					<div class="btnUnder"></div>
					</li>
				</ul>
			</div>
			<div class="btnRight"></div>
		</div>

</script>

<script id="dropDownOptions_tmpl" type="text/x-jquery-tmpl">
	<!--
		This template is used by the dropdown template to render each individual
		item in the dropdown menu.
	-->
		<li><a {{if href}}href="${href}{{else}}href="#" onclick="return false;"{{/if}} class="${classes}">${linktext}</a></li>

</script>

<script id="dropDownOptionsSort_tmpl" type="text/x-jquery-tmpl">
		<li>
			<a {{if id}}id="${id}"{{/if}}   {{if href}}href="${href}{{else}}href="#" onclick="return false;"{{/if}} class="${classes}{{if last}} itemLast{{/if}}">${linktext}</a>
			<div class="sortDropdownArrow"></div>
		</li>

</script>

<script id="itemTreeTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="${wrapperID}" class="treeWrapper" title= "${wrapperTitle}">
			<ul id="${treeID}" class="treeList">
				<li class="root"><img src="${info.repo}/img/tempo_CS.png"/> <a class="treeRootFolder" href="#" onclick="return false;">${info.userRootFolderName}</a></li>
				<ul>
				</ul>
			</ul>
			<div class="hidden selectedBar">&nbsp;</div>
			<div class="loadingTree">
				{{tmpl "#loadingImage_tmpl"}}
			</div>
			<div class="errorText"> <b>${T('LABEL.Error')}</b>: ${T('LABEL.ErrorLoadingFolderTree')}</div>

		</div>

</script>

<script id="usersListTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="usersList">
			{{if usersListData}}
			{{tmpl(usersListData) "#userListShareItem_tmpl"}}
			{{/if}}
	   </div>

</script>

<script id="confirmationDialogTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="actionConfirmation" title="${title}">
			<span id="confirmationMessage">${message}</span>
		</div>

</script>

<script id="loadingImage_tmpl" type="text/x-jquery-tmpl">
		<img src='${info.repo}/img/loading.gif' />

</script>
<script id="notification_tmpl" type="text/x-jquery-tmpl">
		<div class="notification ${messageType}" id="${messageID}" >
			<div class="notificationIcon"></div>
			<div class="notificationText">${text}</div>
			<div class="notificationOperation"></div>
			<br style="clear: both" />
		</div>

</script>
<script id="processInfo_tmpl" type="text/x-jquery-tmpl">
		<div class="notification processInfo" id="${messageID}" >
			<div class="notificationIcon"></div>
			<div class="notificationText">${text}</div>
			<div class="notificationPercent">${percent}</div>
			<div class="notificationOperation"></div>
			<br style="clear: both" />
		</div>

</script>

<script id="historyItemHeaderAudit_tmpl" type="text/x-jquery-tmpl">
		<tr class="historyRow">
			<th class="historyHeaderCell auditHistoryUser">${T('LABEL.User')}</th>
			<th class="historyHeaderCell auditHistoryEvent">${T('LABEL.Event')}</th>
			<th class="historyHeaderCell auditHistoryDate last">${T('LABEL.Date') + ' ' +T('LABEL.Modified')}</th>
		</tr>

</script>
<script id="historyItemHeaderVersion_tmpl" type="text/x-jquery-tmpl">
		<tr class="historyRow">
			<th class="historyHeaderCell versionHistoryNumber">#</th>
			<th class="historyHeaderCell versionHistoryFileName">${T('LABEL.Document') + '' + T('LABEL.Name') }</th>
			<th class="historyHeaderCell versionHistoryDate">${T('LABEL.Created')}</th>
			<th class="historyHeaderCell versionHistoryUser">${T('LABEL.Created') + ' ' +T('LABEL.By')}</th>
			<th class="historyHeaderCell versionHistorySize last">${T('LABEL.Size')}</th>
		</tr>

</script>
<script id="historyItemAudit_tmpl" type="text/x-jquery-tmpl">
		<tr class="historyRow">
			<td class="historyCell auditHistoryUser">${DisplayName}</td>
			<td class="historyCell auditHistoryEvent">${EVENTDISPLAYNAME}</td>
			<td class="historyCell auditHistoryDate">${utils.DateStringToShortDate(AUDITDATE, true)}</td>
		</tr>

</script>
<script id="historyItemVersion_tmpl" type="text/x-jquery-tmpl">
		<tr class="historyRow">
			<td class="historyCell versionHistoryNumber">${Number}</td>
			<td class="historyCell versionHistoryFileName"><a class="versionDownload" onclick="return false;" href="#">${FileName}</a></td>
			<td class="historyCell versionHistoryDate">${utils.DateStringToShortDate(CreateDate, true)}</td>
			<td class="historyCell versionHistoryUser">${DisplayName}</td>
			<td class="historyCell versionHistorySize">${utils.FormatFileSize(FileDataSize)}</td>
		</tr>

</script>
<script id="historyTabHeaders_tmpl" type="text/x-jquery-tmpl">
		<li><a href="#tab${tabName}" class="tab${tabName}Header" >${tabText}</a></li>
		<li class="tabSeparator"></li>

</script>
<script id="historyTabContent_tmpl" type="text/x-jquery-tmpl">
		<div id="tab${tabName}">
			<table class="historyTable">
				<thead class="historyTableHeader">
					{{if tabName === CONST_HISTORYTABS.AUDIT}}
						{{tmpl "#historyItemHeaderAudit_tmpl"}}
					{{/if}}
					{{if tabName === CONST_HISTORYTABS.VERSION}}
						{{tmpl "#historyItemHeaderVersion_tmpl"}}
					{{/if}}
				</thead>
				<tbody class="historyData${tabName}" class="historyTableBody"></tbody>
			</table>
		</div>

</script>
<script id="historyDialogTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="historyView" title="${title}">
			<div class="historyContent">
				<div id="historyTabs">
					<ul>
						{{tmpl(historyTabList) "#historyTabHeaders_tmpl"}}
					</ul>
					{{tmpl(historyTabList) "#historyTabContent_tmpl"}}
				</div>
			</div>
		</div>

</script>
<script id="historyDialogFolderTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="historyViewFolder" title="${T('LABEL.TabAudit')}">
			<div class="historyContent">
				<div id="historyFolderTabs">
					<ul>
						{{tmpl(historyFolderTabList) "#historyTabHeaders_tmpl"}}
					</ul>
					{{tmpl(historyFolderTabList) "#historyTabContent_tmpl"}}
				</div>
			</div>
		</div>

</script>
<script id="publishDestinationOptionDialogTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="publishDestinationOptionDialogView" title="${T('LABEL.Publish')}">
			<table class="publishFileOptionTable">
				<tr>
					<td><a class="publishToFileLink" href="#" onclick="return false;">${T('LABEL.PublishInFile')}</a></td>
					<td>${T('LABEL.PublishFileText')}</td>
				</tr>
				<tr>
					<td><a class="publishToFolderLink" href="#" onclick="return false;">${T('LABEL.PublishInContainer')}</a></td>
					<td>${T('LABEL.PublishFolderText')}</td>
				</tr>
			</table>
		</div>

</script>
<script id="publishDialogTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="publishDialogView" title="${T('LABEL.Publish')}">
			<div class="publishContent">
				<div class="textLeftInput publishDialogInputs">
					{{tmpl(browseCSInput) "#input_tmpl"}} {{tmpl(browseCSInputHidden) "#input_tmpl"}} {{tmpl(browseCSButton) "#button_tmpl"}}
					<div class="newLine"></div>
					<div class="publishOptions">
						{{tmpl(copyOption) "#input_tmpl"}}
						{{tmpl(moveOption) "#input_tmpl"}}
					</div>
				</div>
				<div id="PublishError" class="errorText "> <b>${T('LABEL.Error')}</b>: ${T('LABEL.SelectADestination')}</div>
			</div>
		</div>

</script>

<script id="aboutDialogTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="aboutDialogView" title="${title}">
				<div id="aboutDialogContent">
						<div class="aboutInfo productNameLogo"><img src="${info.repo}/img/tempo_wordmark.png" /></div>
						<div class="aboutInfo">${T('LABEL.WebUIVersion')}: ${webUIVersion}</div>
						<div class="aboutInfo">${T('LABEL.APIVersion')}: <span id="apiVersion">${serverAPIVersion}</span></div>
						<div class="aboutInfo copyright">${copyrightMessage}</div>
				</div>
		</div>

</script>

<script id="objectInfo_tmpl" type="text/x-jquery-tmpl">
			<div id="objectInfoWrapper">
				{{if isReadOnly}}
					<div id="objectInfoHeadingReadOnly" >
						<div id="objectInfoName">
							<div id="objectInfoNameImg"><img src="${info.repo}/img/sidebar_lock.png"></img></div>
								<div id="objectInfoNameText">${name}</div>
						</div>
					</div>
				{{else}}
					<div id="objectInfoHeading">
						<div id="objectInfoName">${name}</div>
					</div>
				{{/if}}
				{{tmpl "#objectInfoDetailsTemplate_tmpl"}}
				<div class="newLine"></div>
			</div>

</script>

<script id="message_tmpl" type="text/x-jquery-tmpl">
		<div {{if id}} id="${id}" {{/if}}class="${classes}">
			${message}
		</div>

</script>

<script id="diskUsageTemplate_tmpl" type="text/x-jquery-tmpl">
		<div id="diskUsageWrapper">
			<div id="diskUsage">
				${T('LABEL.DiskUsed')}
				<br style="clear: both" />
				${T('LABEL.DiskUsage',$data)}
				<div id="diskProgressBar" class="diskProgressBar"></div>
			</div>
		</div>

</script>
