# Eclipse
#.classpath
#.project
.settings/

#Momentix/BB
arm-p/
arm/
x86/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

dcs.component/src/main/webapp/bower_components
dcs.component/src/main/webapp/node_modules
dcs.component/src/main/webapp/node
dcs.component/src/main/webapp/dist