<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>AWG API Proxy Demo</display-name>

    <!--We'll be using Spring Beans and Camel DSL -->

    <!--location of spring xml files-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--Tells camel what to instantiate, etc-->
        <param-value>classpath:camel-config.xml</param-value>
    </context-param>

    <!--the listener that starts up spring-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--Camel Servlet -->
    <servlet>
        <display-name>Camel Http Transport Servlet</display-name>
        <servlet-name>CamelServlet</servlet-name>
        <servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--Camel Servlet Mapping-->
    <servlet-mapping>
        <servlet-name>CamelServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
