#hd p{
	margin:0px;
	padding-left:60px;
	padding-right:60px;
	font-family:"Helvetica Light", Helvetica, Arial, Sans-Serif;
	font-size:24px;
	color:#0072aa;
	text-align:center;
}
#hd .headertext{
	width:682px;
	margin-left:auto;
	margin-right:auto;
	padding-top:14px;
	padding-bottom:14px;
}
#hd .defaultheader{
	width:447px;
	height:85px;
	margin-left:auto;
	margin-right:auto;
	padding-top:32px;
}
body{
	margin:0px;
	margin-top:42px;
	min-width:1300px;
	min-height:561px;
	background-color:#FFFFFF;
	background-image:url('ot/background_img.jpg');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
}
form{
	margin:0px;
	height:100%;
}
#ft p{
	margin:0px;
	padding-right:2px;
	font-family:"Helvetica Light", Helvetica, Arial, Sans-Serif;
	text-align:right;
	font-style:italic;
}
#ft .footertext{
	width:682px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 0px 0px 0px;
}
.formdlg{
	width:682px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	border-style:none;
	border-width:0px;
}
#formdlgtop{
	margin:0px;
	padding:0px;
	width:682px;
	height:55px;
	maxheight:55px;
	background-image:url('ot/popup_top.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
}
#formdlgtop table{
	width:100%;
	height:100%;
	border-style:none;
	border-width:0px;
}
#formdlgtop td{
	border-style:none;
	border-width:0px;
}
.formdlgmiddle{
	margin:0px;
	padding:0px;
	width:682px;
	background-image:url('ot/popup_middle.png');
	background-repeat:repeat-y;
	background-attachment:scroll;
	background-position:center top;
}
.formdlgbottom{
	margin:0px;
	width:682px;
	height:22px;
	maxheight:22px;
	background-image:url('ot/popup_bottom.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
}
.formdlgtitle{
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	font-size:16px;
	text-indent:25px;
	color:#333;
	text-align:left;
	margin-top:7px;
	text-shadow: white 0px 1px 0px
}
.formdlginstruction{
	margin:0px;
	padding-left:58px;
	padding-right:58px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:normal;
	font-size:11px;
	text-indent:0px;
	color:#0072aa;
	text-align:left;
}
.formdlgmessage{
	margin:0px;
	padding-left:56px;
	padding-right:56px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:normal;
	font-size:18px;
	text-indent:0px;
	color:#0072aa;
	text-align:center;
}
.formdlgmessage :link { text-decoration:none; color:#128ccb;}
.formdlgmessage :visited { text-decoration:none; color:#128ccb;}
.formdlgmessage :link:hover { text-decoration:underline; color:#128ccb;}
.formdlgmessage :link:active { text-decoration:none; color:#128ccb;}
.formdlgalternatepath{
	margin:0px;
	padding-left:58px;
	padding-right:58px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:normal;
	font-size:14px;
	text-indent:0px;
	color:#0072aa;
	text-align:left;
}
.formdlgalternatepath :link { text-decoration:none; color:#128ccb;}
.formdlgalternatepath :visited { text-decoration:none; color:#128ccb;}
.formdlgalternatepath :link:hover { text-decoration:underline; color:#128ccb;}
.formdlgalternatepath :link:active { text-decoration:none; color:#128ccb;}
.formdlgstep{
	width:65px;
	margin-top:8px;
}
.formdlgfieldrow{
	width:682px;
	margin:0px;
	padding:0px;
	table-layout:fixed;
	border-style:none;
	border-width:0px;
}
.formdlgfieldset{
	width:341px;
	margin:0px;
	padding:0px;
	border-style:none;
	border-width:0px;
}
.fieldlabelcol1{
	width:263px;
	margin:0px;
	padding:0px 0px 4px 60px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	color:#004166;
	border-style:none;
	border-width:0px;
}
.fieldlabelcol2{
	width:263px;
	margin:0px;
	padding:0px 0px 4px 26px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	color:#004166;
	border-style:none;
	border-width:0px;
}
.fieldinputcolspan{
	width:626px;
	margin:0px;
	padding:0px 0px 0px 56px;
	border-style:none;
	border-width:0px;
}
.fieldinputcol1{
	width:263px;
	margin:0px;
	padding:0px 0px 0px 56px;
	border-style:none;
	border-width:0px;
}
.fieldinputcol2{
	width:263px;
	margin:0px;
	padding:0px 0px 0px 22px;
	border-style:none;
	border-width:0px;
}
.fieldinputentry{
	type:text;
	width: 243px;
	height: 22px;
	margin:0px;
	padding:0px;
	border-style:none;
	border-width:0px;
}
.fieldinputrow{
	width:100%;
	margin:0px;
	padding:0px;
	table-layout:fixed;
	border-style:none;
	border-width:0px;
}
.fielddisplayonly{
	width:263px;
	height:36px;
	margin:0px;
	padding:5px 0px 0px 6px;
	border-style:none;
	border-width:0px;
}
.fieldinputleft{
	width:7px;
	height:36px;
	margin:0px;
	padding:0px;
	background-image:url('ot/field_box_left.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.fieldinputmiddle{
	width:249px;
	height:36px;
	margin:0px;
	padding:0px;
	background-image:url('ot/field_box_center.png');
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.fieldinputright{
	width:7px;
	height:36px;
	margin:0px;
	padding:0px;
	background-image:url('ot/field_box_right.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.privacypolicy{
	margin:0px;
	padding:0px 0px 0px 58px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-size:11px;
	text-align:left;
	white-space:nowrap;
	align:left;
	border-style:none;
	border-width:0px;
}
.privacypolicy :link { text-decoration:none; color:#128ccb;}
.privacypolicy :visited { text-decoration:none; color:#128ccb;}
.privacypolicy :link:hover { text-decoration:underline; color:#128ccb;}
.privacypolicy :link:active { text-decoration:none; color:#128ccb;}
.actionbuttoncell{
	margin:0px;
	padding:0px 58px 0px 0px;
	border-style:none;
	border-width:0px;
}
.actionbuttoncenteredcell{
	margin:0px;
	padding:0px;
	border-style:none;
	border-width:0px;
}
.actionbuttonlabel{
	margin:0px;
	padding:0px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	font-size:16px;
	text-align:left;
	color:#333;
	white-space:nowrap;
	cursor:default;
	-moz-user-select:none;  /*avoid label selection on firefox*/
}
.actionbutton{
	height:32px;
	margin:0px;
	padding:0px;
	border-style:none;
	border-width:0px;
}
.actionbuttonleft{
	width:5px;
	height:32px;
	padding:0px;
	margin:0px;
	background-image:url('ot/button_left.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.actionbuttonmiddle{
	height:32px;
	margin:0px;
	padding:0px;
	background-image:url('ot/button_center.png');
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.actionbuttonright{
	height:32px;
	width:5px;
	padding:0px;
	margin:0px;
	background-image:url('ot/button_right.png');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center top;
	border-style:none;
	border-width:0px;
}
.actionbtnspinner{
	position:relative;
	/* 	Each form will need to specify the top and left location
		in the javascript for form validation */
	z-index:10001;
	-moz-user-select:none;
	visibility:hidden;
}
.hiddensubmit{
	border:0px none;
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
    overflow:hidden;
}
.error{
	width:100%;
	margin:0px;
	padding-left:56px;
	padding-right:56px;
	padding-top:2px;
	font-family:Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	font-size:11px;
	color:red;
	text-align:left;
}
