<ion-content>
    <ion-list>
        <div style="text-align: center; padding: 8px;" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
        <ion-item style="text-align: center" ng-if="attachments.length === 0">
            No attachments to display
        </ion-item>
        <ion-item class="item-button-right" ng-repeat="attachment in attachments">
            <h2>{{attachment.NAME}}</h2>
            <p>{{attachment.CREATEDATE | date}}</p>
            <button class="button button-positive"
                    ng-click="viewAttachment(attachment.DATAID)"
                    ng-if="attachment.SUBTYPE === 144">
                View &raquo;
            </button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer-bar class="bar-balanced">
    <button class="button button-positive button-full footer-button title"
            ng-click="showAddAttachmentScreen()">
        Add Attachment
    </button>
</ion-footer-bar>
