<form ng-submit="newTaskForm.$valid && create(taskForm,newTaskForm)" class="ng-cloak ng-hide" ng-show="taskForm.canCreateTask" name="newTaskForm"
      novalidate>
  <label class="item item-input">
        <textarea ng-attr-placeholder="+{{'TASK_DESCRIPTION'|translate}}" ng-model="taskForm.task.name" name="tName"
                  required></textarea>
  </label>
  <div class="form-error" ng-show="newTaskForm.$submitted && newTaskForm.tName.$error.required">
    {{'TASK_DESCRIPTION_IS_REQUIRED'|translate}}
  </div>

  <label class="item item-input item-select">
    <span class="input-label">{{"ASSIGNEE"|translate}}</span>
    <select id="assignee-select" ng-model="taskForm.task.assignedTo"
            ng-options="assignee for assignee in taskForm.assigneeOptions">
        <option value=""></option>
    </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">{{"DUE_DATE"|translate}}</span>
    <input type="date" ng-model="taskForm.task.dueDate" name="tDueDate" min="{{taskForm.now}}"/>
  </label>
  <div class="form-error" ng-show="newTaskForm.$submitted && newTaskForm.tDueDate.$error.min">
    {{'DUE_DATE_MUST_BE_IN_THE_FUTURE'|translate}}
  </div>

  <button class="button button-block" type="submit">
    {{"CREATE_TASK"|translate}}
  </button>
</form>